.modal.fade(ng-controller="AcquireOptionsCtrl as createVM")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong Available Options
      .modal-body
        .row
          .col-xs-12
            ul.nav.nav-justified.nav-pills
              li(ng-repeat="tab in createVM.tabs", ng-class="{ 'active': createVM.tabActive === tab }")
                a(ng-click="createVM.tabActive = tab")
                  span.item-text.text-nowrap {{ ($index + 1) + ". " + tab.title }}
          .col-xs-12(ng-if="createVM.tabActive === createVM.priceplansTab")
            .h4
              strong Choose one
            .container-flex
              div(offering-priceplan, ng-repeat="priceplan in createVM.priceplans", ng-click="createVM.setPriceplan(priceplan)")
          .col-xs-12(ng-if="createVM.tabActive === createVM.characteristicsTab")
            .form-group(ng-repeat="characteristic in createVM.configurableCharacteristics")
              .h4
                strong {{ characteristic.name }}
              hr
              p.text-dark-secondary {{ characteristic.description ? characteristic.description : 'No description provided.' }}
              p(ng-repeat="characteristicValue in characteristic.productSpecCharacteristicValue", ng-click="createVM.setCharacteristicValue(characteristic, characteristicValue)")
                span.fa.fa-fw(ng-class="createVM.getCharacteristicValue(characteristic) === characteristicValue ? 'fa-check-circle': 'fa-circle-o'")
                span  {{ createVM.formatCharacteristicValue(characteristic, characteristicValue) }}
      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal", ng-click="createVM.order()", ng-disabled="!createVM.isValid()")
          span.item-icon.fa.fa-shopping-cart
          span.item-text Add to cart
        a.btn.btn-default.z-depth-1(data-dismiss="modal")
          span.item-text Close