.modal.fade(ng-controller="MessageCtrl as ctrl")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong Payment in progress
      .modal-body
        span
          | The payment approval process should have been opened in a new tab. If the a new tab has not been opened, 
          a(href="{{ ctrl.paypalUrl }}" target="_blank") click here
          | . Please, remind that you have <b>5 minutes</b> to complete the payment. If the payment is not completed
          | in that time, the ordering will be marked as <b>Failed</b>.
      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal")
          span.item-text Payment Completed