.modal.fade(ng-controller="SearchFilterCtrl as filterVM")
  .modal-dialog
    .modal-content
      .modal-header
        .modal-title
          strong.text-uppercase Search Filters
        button.close(type="button", data-dismiss="modal")
          i.fa.fa-close
      .modal-body
        .form-group.no-user-select(ng-show="filterVM.exists('status')")
          label Status
          ul.list-group
            li.list-group-item.item-checkbox(ng-repeat="(key, value) in STATUS")
              label.checkbox
                .track
                  input(type="checkbox", value="{{ value }}", ng-checked="filterVM.checkboxChecked('status', value)", ng-click="filterVM.toggleCheckbox('status', value)")
                  i.fa.fa-lg
                | {{ value }}
        .form-group.no-user-select(ng-show="filterVM.exists('role')")
          label Role
          ul.list-group
            li.list-group-item.item-radio
              label.radio
                .track
                  input(type="radio", ng-model="filterVM.filters.role")
                  i.fa.fa-lg
                | All
            li.list-group-item.item-radio
              label.radio
                .track
                  input(type="radio", ng-model="filterVM.filters.role", value="Owner")
                  i.fa.fa-lg
                | Owner
            li.list-group-item.item-radio
              label.radio
                .track
                  input(type="radio", ng-model="filterVM.filters.role", value="Seller")
                  i.fa.fa-lg
                | Seller
        .form-group.no-user-select(ng-show="filterVM.exists('type')")
          label Type
          ul.list-group
            li.list-group-item.item-radio
              label.radio
                .track
                  input(type="radio", ng-model="filterVM.filters.type")
                  i.fa.fa-lg
                | All
            li.list-group-item.item-radio
              label.radio
                .track
                  input(type="radio", ng-model="filterVM.filters.type", value="Single")
                  i.fa.fa-lg
                | Single
            li.list-group-item.item-radio
              label.radio
                .track
                  input(type="radio", ng-model="filterVM.filters.type", value="Bundle")
                  i.fa.fa-lg
                | Bundle
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close