.panel.panel-default
  .panel-heading
    h3.panel-title Notes
  .panel-body
    form(novalidate name="detailVM.NoteCreateForm")
      .form-group
        label Enter a note
        textarea.form-control(rows="4" name="note" ng-model="detailVM.note.text" required)
      .form-group.text-right
        button.btn.btn-warning(type="submit" ng-disabled="!detailVM.NoteCreateForm.$valid || detailVM.createNote.status === detailVM.STATUS.PENDING" ng-click="detailVM.createNote()")
          span.item-icon.fa(ng-class="detailVM.createNote.status === detailVM.STATUS.PENDING ? ['fa-circle-o-notch', 'fa-spin'] : 'fa-paper-plane'")
    ul.media-list
      li.media(ng-repeat="comment in detailVM.comments")
        .media-left
          span.fa-stack.fa-lg
            span.fa.fa-circle.fa-stack-2x
            span.fa.fa-user.fa-stack-1x.fa-inverse
        .media-body
          h4.media-heading
            | {{ comment.author }}
          dl.dl-horizontal(ng-repeat="note in comment.notes")
            dt.text-success {{ note.date | amCalendar }}
            dd {{ note.text }}