form(name="stages[2].form", novalidate)
  .form-group
    label Choose a catalogue
    input(type="hidden", ng-model="catalogueChosen.id", required)
    table.table.table-bordered.table-hover.table-selectable(ng-show="catalogueList.length")
      thead
        tr
          th Status
          th Name
          th Updated
      tbody
        tr(ng-repeat="catalogue in catalogueList", ng-class="{ 'active': catalogueChosen.id == catalogue.id }", ng-click="selectCatalogue(catalogue)")
          td
            i.status(ng-class="'status-{{ catalogue.lifecycleStatus | lowercase }}'")
          th
            span {{ catalogue.name }}
          td
            time(am-time-ago="catalogue.lastUpdate")
  .form-group.text-right
    a.btn.btn-default(type="button", ui-sref="app.stock.offering.create.pricing", ng-disabled="!stages[2].form.$valid")
      span.item-text Next
      span.item-icon.fa.fa-arrow-right