.panel.panel-default.z-depth-2
  ul.nav.nav-responsive.nav-pills
    li(ui-sref-active="active")
      a(ui-sref="rss.models", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-share-alt
        span.item-text.hidden-xs RS Models
    li(ui-sref-active="active")
      a(ui-sref="rss.transactions", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-file
        span.item-text.hidden-xs Transactions
    li(ui-sref-active="active")
      a(ui-sref="rss.reports", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-cube
        span.item-text.hidden-xs RS Reports
