.container
  .row
    .col-sm-12
      .alert(class="alert-warning")
        | #{ __("You need to be logged in to access this resource. You are being redirected to the login page now. If you have") }
        | #{ __("not been redirected within 10 seconds, please ") }<a ng-href={{ctrl.loginLink}}>#{ __("click here") }</a>.
