.container
  .row
    .col-sm-12
      .alert(class="alert-warning")
        | You need to be logged in to access this resource. You are being redirected to the login page now. If you have
        | not been redirected within 10 seconds, please <a ng-href={{ctrl.loginLink}}>click here</a>.
