/*!
 *
 */

body {
    background-color: rgb(250, 250, 250);
}

footer {
    margin-top: 50px;
}

a {
    cursor: pointer;
    color: rgb(030, 060, 110);
}
a:hover,
a:focus {
    color: rgb(070, 180, 200);
    text-decoration: none;
}

a.active,
a.active:hover,
a.active:focus {
    color: rgb(070, 180, 200);
    text-decoration: none;
}

a.disabled {
    cursor: pointer;
    pointer-events: none;
    color: rgb(140, 140, 140);
}

hr {
    margin-top: 0;
    margin-bottom: 15px;
}
hr.fiware-line {
    height: 1px;
    background-color: rgb(240, 230, 040);
    border-top: 1px solid rgb(070, 185, 200);
    border-bottom: 1px solid rgb(025, 060, 105);
}

p {
    margin-bottom: 5px;
}

.text-muted {
    color: rgb(120, 120, 120);
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

blockquote {
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    border-left: 4px solid rgb(230, 230, 230);
}
blockquote p {
    color: rgb(100, 100, 100);
}

.fa-fw {
    width: 1.4em;
}
.fa-fw-right {
    width: 1.4em;
    text-align: right;
}

.no-user-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
       -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */
}

.h2, .h3, .h4, .h5 {
    margin-top: 0;
    margin-bottom: 15px;
}

dl {
    margin-bottom: 15px;
}
dl > dd + dt {
    margin-top: 5px;
}

.list-inline {
    margin: 0 0 15px;
}

.list-inline > li {
    padding: 0;
    vertical-align: top;
}

.list-inline > li + li {
    padding-left: 15px;
}

.list-inline > li > dl {
    margin-bottom: 0;
}

/* ===================================================================================
 *   COMPONENT - FLEX-CONTAINER
 * =================================================================================== */

.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.spinner,
.container-spinner {
    margin-bottom: 15px;
    color: rgb(030, 060, 110);
    text-align: center;
}

/* ===================================================================================
 *   COMPONENT - TABLE
 * =================================================================================== */

.table {
    margin-bottom: 15px;
}
.table > thead > tr,
.table > tbody > tr {
    background-color: rgb(255, 255, 255);
}

.table-hover > tbody > tr:hover {
    background-color: rgb(250, 250, 250);
}

.table-selectable > tbody > tr {
    cursor: pointer;
}

.table-responsive {
    margin-bottom: 15px;
}
.table-responsive .table {
    margin-bottom: 0;
}

/* ===================================================================================
 *   COMPONENT - FORM-CONTROL
 * =================================================================================== */

.form-inline {
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

.form-control {
    padding: 8px 12px;
    height: initial;
    border-color: rgb(200, 200, 200);
    border-radius: 0;
    box-shadow: none;
}

@media (min-width: 768px) {
    .form-inline > .form-group > label {
        margin-right: 10px;
    }

    .form-inline > .form-group + .form-group {
        margin-left: 5px;
    }
}

.form-group > .btn + .btn {
    margin-left: 5px;
}

/* ===================================================================================
 *   COMPONENT - BUTTON
 * =================================================================================== */

.btn {
    padding: 8px 12px;
    border-radius: 0;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
}
.btn[disabled],
.btn.disabled {
    cursor: pointer;
    pointer-events: none;
    opacity: 1;
}

.btn .item-icon {
    display: inline-block;
    width: 1.4em;
    text-align: center;
}
.btn .item-icon + .item-text {
    margin-left: 5px;
}

.btn .item-text + .item-icon {
    text-align: right;
}

/* ===================================================================================
 *   COMPONENT - BUTTON DEFAULT
 * =================================================================================== */

.btn-default {
    color: rgb(080, 080, 080);
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
}
.btn-default:hover,
.btn-default:focus {
    color: rgb(030, 060, 110);
    background-color: rgb(255, 255, 255);
    border-color: rgb(030, 060, 110);
}
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(030, 060, 110);
    border-color: rgb(030, 060, 110);
}
.btn-default.disabled,
.btn-default[disabled] {
    color: rgb(160, 160, 160);
    background-color: rgb(254, 254, 254);
    border-color: rgb(210, 210, 210);
}

/* ===================================================================================
 *   COMPONENT - BUTTON PRIMARY
 * =================================================================================== */

.btn-primary {
    color: rgb(010, 060, 140);
    background-color: rgb(230, 240, 250);
    border-color: rgb(010, 060, 140);
}
.btn-primary:hover,
.btn-primary:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(230, 240, 250);
    border-color: rgb(070, 180, 200);
}
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(030, 060, 110);
    border-color: rgb(030, 060, 110);
}
.btn-primary.disabled,
.btn-primary[disabled] {
    color: rgb(255, 255, 255);
    background-color: rgb(160, 180, 210);
    border-color: rgb(160, 180, 210);
}

.btn-success {
    color: rgb(60, 130, 60);
    background-color: rgb(230, 255, 230);
    border-color: rgb(60, 130, 60);
}
.btn-success:hover,
.btn-success:focus {
    color: rgb(40, 190, 80);
    background-color: rgb(230, 255, 230);
    border-color: rgb(40, 190, 80);
}
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success.active,
.btn-success.active:hover,
.btn-success.active:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 160, 70);
    border-color: rgb(70, 160, 70);
}
.btn-success.disabled,
.btn-success[disabled] {
    color: rgb(255, 255, 255);
    background-color: rgb(130, 200, 130);
    border-color: rgb(130, 200, 130);
 }

.btn-sm {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
}
.btn-sm > .btn-icon {
    width: 1.2em;
    font-size: 90%;
    text-align: left;
    vertical-align: baseline;
}

.btn-circle {
    border-radius: 50%;
}

.pull-right > .btn + .btn-group {
    margin-left: 5px;
}

/* ===================================================================================
 *   COMPONENT - BUTTON TOOLBAR
 * =================================================================================== */

.btn-toolbar {
    margin: 0 0 15px;
}
.btn-toolbar > .btn-group {
    margin-left: 0;
}
.btn-toolbar > .btn-group + .btn-group {
    margin-left: 5px;
}

.btn-group-responsive .btn:not(.active) > .item-text {
    display: none;
}

/* ===================================================================================
 *   COMPONENT - DROPDOWN-MENU
 * =================================================================================== */

.dropdown-menu {
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
    border-radius: 0;
}

.dropdown-menu .dropdown-menu-item {
    display: block;
    padding: 8px 12px;
    line-height: 20px;
    color: rgb(070, 070, 070);
}
.dropdown-menu .dropdown-menu-item .item-icon {
    width: 1.4em;
    text-align: center;
}
.dropdown-menu .dropdown-menu-item .item-text {
    margin-left: 5px;
}

.dropdown-menu a.dropdown-menu-item {
    border-right: 3px solid transparent;
}
.dropdown-menu a.dropdown-menu-item:hover,
.dropdown-menu a.dropdown-menu-item:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(248, 248, 248);
    border-color: rgb(070, 180, 200);
}
.dropdown-menu a.dropdown-menu-item.active,
.dropdown-menu a.dropdown-menu-item.active:hover,
.dropdown-menu a.dropdown-menu-item.active:focus
.dropdown-menu a.dropdown-menu-item:active,
.dropdown-menu a.dropdown-menu-item:active:hover,
.dropdown-menu a.dropdown-menu-item:active:focus {
    color: rgb(030, 060, 110);
    background-color: rgb(248, 248, 248);
    border-color: rgb(030, 060, 110);
}

.dropdown-menu .dropdown-header {
    padding: 10px 15px;
    margin: 0 0;
    font-size: 14px;
    line-height: 20px;
    color: rgb(040, 140, 150);
}
.dropdown-menu .dropdown-header.inverse {
    color: rgb(255, 255, 255);
    background-color: rgb(060, 060, 060);
}
.dropdown-menu .dropdown-header.inverse .fa-inverse {
    color: rgb(060, 060, 060);
}

.dropdown-toggle > .fa-stack + span {
    margin-left: 5px;
    vertical-align: middle;
}

.dropdown-menu .divider {
    margin: 0 0;
}

/* ===================================================================================
 *   COMPONENT - NAV-TABS
 * =================================================================================== */

.nav > li.disabled > a {
    cursor: pointer;
    pointer-events: none;
}

.nav-tabs {
    margin-bottom: 15px;
    border-bottom-color: rgb(220, 220, 220);
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: rgb(252, 252, 252);
    border-color: rgb(252, 252, 252) rgb(252, 252, 252) rgb(220, 220, 220);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: rgb(250, 120, 040);
    background-color: rgb(255, 255, 255);
    border-color: rgb(220, 220, 220);
    border-bottom-color: transparent;
}

/* ===================================================================================
 *   COMPONENT - NAV-PILLS
 * =================================================================================== */

.nav-pills {
    margin-bottom: 15px;
}

.panel > .nav-pills {
    margin-bottom: 0;
}

.nav-pills > li > a {
    padding: 10px 12px;
    margin: 0;
    color: rgb(070, 070, 070);
    border: 0 solid transparent;
    border-radius: 0;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(250, 250, 250);
    border-color: rgb(070, 180, 200);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: rgb(030, 060, 110);
    background-color: rgb(250, 250, 250);
    border-color: rgb(030, 060, 110);
    font-weight: bold;
}

.nav-pills > li > a {
    border-bottom-width: 3px;
}

.nav-pills.nav-responsive > li {
    display: table-cell;
    float: none;
    width: 1%;
    text-align: center;
}

.nav-pills.nav-responsive > li + li {
    margin-left: 0;
}

.nav-pills.nav-responsive > li > a {
    border-right-width: 0;
    border-bottom-width: 3px;
}

.panel > .nav-pills.nav-responsive > li > a {
    margin-right: 0;
    margin-bottom: -1px;
}

@media (min-width: 992px) {
    .nav-pills.nav-responsive > li {
        display: block;
        width: 100%;
        text-align: left;
    }

    .nav-pills.nav-responsive > li > a {
        border-right-width: 3px;
        border-bottom-width: 0;
    }

    .panel > .nav-pills.nav-responsive > li > a {
        margin-right: -1px;
        margin-bottom: 0;
    }
}

.nav-pills.nav-stacked > li > a {
    border-right-width: 3px;
    border-bottom-width: 0;
}
.nav-pills.nav-stacked > li + li {
    margin-top: 0;
}

.nav-pills.nav-router > li > a {
    padding: 0;
    border-width: 0;
}
.nav-pills.nav-router > li > a > .item-icon-container,
.nav-pills.nav-router > li > a > .item-text {
    display: table-cell;
    padding: 10px 12px;
}
.nav-pills.nav-router > li > a.h4 > .item-icon-container,
.nav-pills.nav-router > li > a.h4 > .item-text {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-pills.nav-router > li > a > .item-icon-container {
    text-align: center;
}
.nav-pills.nav-router > li > a > .item-text {
    width: 100%;
}

.nav-pills.nav-router > li > a.bg-view1 > .item-icon-container,
.nav-pills.nav-router > li > a.bg-view1:hover,
.nav-pills.nav-router > li > a.bg-view1:focus,
.nav-pills.nav-router > li.active > a.bg-view1,
.nav-pills.nav-router > li.active > a.bg-view1:hover,
.nav-pills.nav-router > li.active > a.bg-view1:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(025, 060, 110);
}

.nav-pills.nav-router > li > a.bg-view2 > .item-icon-container,
.nav-pills.nav-router > li > a.bg-view2:hover,
.nav-pills.nav-router > li > a.bg-view2:focus,
.nav-pills.nav-router > li.active > a.bg-view2,
.nav-pills.nav-router > li.active > a.bg-view2:hover,
.nav-pills.nav-router > li.active > a.bg-view2:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(070, 185, 200);
}

.nav-pills.nav-router > li > a.bg-view3 > .item-icon-container,
.nav-pills.nav-router > li > a.bg-view3:hover,
.nav-pills.nav-router > li > a.bg-view3:focus,
.nav-pills.nav-router > li.active > a.bg-view3,
.nav-pills.nav-router > li.active > a.bg-view3:hover,
.nav-pills.nav-router > li.active > a.bg-view3:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 125, 45);
}

/* ===================================================================================
 *   COMPONENT - NAV-STEPS
 * =================================================================================== */

.nav-steps {
    margin-bottom: 15px;
}
.nav-steps > li {
    display: table-cell;
    width: 1%;
    text-align: center;
}
.nav-steps > li > a {
    color: rgb(070, 070, 070);
}
.nav-steps > li > a:hover,
.nav-steps > li > a:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(250, 250, 250);
}
.nav-steps > li.active > a,
.nav-steps > li.active > a:hover,
.nav-steps > li.active > a:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(030, 060, 110);
}

.nav-steps > li > a > .item-icon + .item-text {
    margin-left: 5px;
}

@media (min-width: 992px) {
    .nav-steps > li {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* ===================================================================================
 *   COMPONENT - NAVBAR
 * =================================================================================== */

.navbar {
    margin-bottom: 15px;
    border-radius: 0;
}

.navbar .navbar-header {
    float: left;
    margin: 0;
}
.navbar .navbar-header .navbar-brand {
    height: 50px;
    padding: 10px 0;
}
.navbar .navbar-header .navbar-brand img {
    height: 30px;
}

@media (min-width: 768px) {
    .navbar .navbar-header .navbar-brand {
        height: 70px;
        padding: 10px 0;
        overflow: initial;
    }
    .navbar .navbar-header .navbar-brand img {
        height: 50px;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-header .navbar-brand {
        width: 33px;
        overflow: hidden;
    }
}

.navbar .navbar-text {
    float: left;
}
.navbar .navbar-text.h3 {
    margin: 15px 10px;
    font-size: 14px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar .navbar-text.h3 {
        margin: 22px 15px;
        font-size: 24px;
        line-height: 1.1;
    }
}

.navbar .navbar-btn {
    margin: 6px 0;
}

@media (min-width: 768px) {
    .navbar .navbar-btn {
        margin: 16px 0;
    }
}

.navbar .navbar-nav {
    margin: 0;
}
.navbar .navbar-nav > li {
    float: left;
}
.navbar .navbar-nav > li > a {
    padding: 11px 10px 8px;
    margin: 0 0;
    border-bottom: 3px solid transparent;
}

@media (min-width: 768px) {
    .navbar .navbar-nav > li > a {
        padding: 21px 15px 18px;
    }
}

.navbar .navbar-right {
    float: right;
    margin-right: 0;
}
.navbar .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

.nav-justified > li {
    display: table-cell;
    width: 1%;
}

.nav-pills > li > a > .item-icon {
    width: 1.4em;
    text-align: center;
}
.nav-pills > li > a > .item-icon + .item-text {
    margin-left: 5px;
}

/* ===================================================================================
 *   COMPONENT - NAVBAR DEFAULT
 * =================================================================================== */

.navbar-default {
    background-color: rgb(245, 245, 245);
    border-color: rgb(220, 220, 220);
}

.navbar-default .navbar-text {
  color: rgb(120, 120, 120);
}

.navbar-default .navbar-nav > li > a {
    color: rgb(060, 060, 060);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(255, 255, 255);
    border-color: rgb(070, 180, 200);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: rgb(030, 060, 110);
    background-color: rgb(255, 255, 255);
    border-color: rgb(030, 060, 110);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
    min-width: 220px;
}

/* ===================================================================================
 *   COMPONENT - NOTIFICATION
 * =================================================================================== */

.container {
    position: relative;
}

.alert-group {
    position: absolute;
    z-index: 100;
    right: 0;
}

.alert-group .alert {
    display: inline-block;
}

/* ===================================================================================
 *   COMPONENT - BREADCRUMB
 * =================================================================================== */

.breadcrumb {
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0;
}

.breadcrumb > li + li:before {
    color: rgb(120, 120, 120);
}

.breadcrumb-triangle {
    border: 1px solid rgb(220, 220, 220);
}
.breadcrumb-triangle:after {
    display: table;
    content: "";
    clear: both;
}

.breadcrumb-triangle > a {
    position: relative;
    display: block;
    float: left;
    padding: 10px 15px 10px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
}
.breadcrumb-triangle > a:first-child {
    padding-left: 15px;
}
.breadcrumb-triangle > a:after {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0px;
    right: -20px;
    background-color: rgba(0, 0, 0, 0);
    border: 20px solid rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transform: scale(0.7) rotate(45deg);
}
.breadcrumb-triangle > a:last-child:after {
    content: none;
}

.breadcrumb-triangle > a > .item-icon {
    width: 1.4em;
    text-align: center;
}
.breadcrumb-triangle > a > .item-icon + .item-text {
    margin-left: 5px;
}

.breadcrumb-triangle > a.active {
    color: rgb(255, 255, 255);
    background-color: rgb(030, 060, 110);
}

/* ===================================================================================
 *   COMPONENT - PAGER
 * =================================================================================== */

.pager {
    margin: 0 0 15px;
}
.pager > li > a {
    padding: 5px 15px;
    color: rgb(030, 060, 110);
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
    border-radius: 0;
}
.pager > li > a:hover,
.pager > li > a:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(252, 252, 252);
    border-color: rgb(070, 180, 200);
}
.pager > li.disabled > a,
.pager > li.disabled > a:hover,
.pager > li.disabled > a:focus {
    cursor: pointer;
    pointer-events: none;
    color: rgb(210, 210, 210);
    background-color: rgb(252, 252, 252);
    border-color: rgb(210, 210, 210);
}

/* ===================================================================================
 *   COMPONENT - LABEL
 * =================================================================================== */

.label {
    border-radius: 0;
}

.label-primary {
    background-color: rgb(010, 060, 140);
}

.label-single {
    background-color: rgb(020, 150, 190);
}

.label-bundle {
    background-color: rgb(040, 150, 120);
}

.label + .label {
    margin-left: 5px;
}

/* ===================================================================================
 *   COMPONENT - LIFECYCLE-STATUS
 * =================================================================================== */

.status-item > .item-icon {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}
.status-item > .item-icon + .item-text {
    margin-left: 5px;
}

.status-group {
    margin-bottom: 15px;
}
.status-group > .status-item {
    position: relative;
    display: table-cell;
    width: 1%;
    text-align: center;
    cursor: default;
    pointer-events: none;
}
.status-group > .status-item:before {
    position: absolute;
    display: block;
    content: " ";
    top: 10px;
    width: 100%;
    height: 1px;
}

.status-group > .status-item > .item-icon {
    vertical-align: middle;
    padding: 3px;
}
.status-group > .status-item > .item-icon + .item-text {
    display: block;
}

.status-group > .status-item:before,
.status-group > .status-item > .item-icon {
    background-color: rgb(200, 200, 200);
}

.status-group > .status-item.active > .item-icon {
    padding: 5px;
}

.status-group > .status-item.enabled + .status-item {
    cursor: pointer;
    pointer-events: initial;
}
.status-group > .status-item.enabled + .status-item:hover > .item-icon {
    padding: 5px;
}

.status-group > .status-item.enabled + .status-item:before,
.status-group > .status-item.enabled + .status-item > .item-icon {
    opacity: 0.8;
}
.status-group > .status-item.enabled + .status-item:hover:before,
.status-group > .status-item.enabled + .status-item:hover > .item-icon {
    opacity: 1;
}

.status-group > .status-active.active:before,
.status-group > .status-active.active > .item-icon,
.status-active > .item-icon {
    background-color: rgb(090, 190, 220);
}

.status-group > .status-created.active:before,
.status-group > .status-launched.active:before,

.status-group > .status-created.active > .item-icon,
.status-group > .status-launched.active > .item-icon,

.status-group > .status-item.enabled + .status-created:before,
.status-group > .status-item.enabled + .status-launched:before,

.status-group > .status-item.enabled + .status-created > .item-icon,
.status-group > .status-item.enabled + .status-launched > .item-icon,

.status-created > .item-icon,
.status-launched > .item-icon {
    background-color: rgb(090, 180, 090);
}

.status-group > .status-retired.active:before,
.status-group > .status-retired.active > .item-icon,
.status-group > .status-item.enabled + .status-retired:before,
.status-group > .status-item.enabled + .status-retired > .item-icon,
.status-retired > .item-icon {
    background-color: rgb(240, 170, 080);
}

.status-group > .status-obsolete.active:before,
.status-group > .status-obsolete.active > .item-icon,
.status-group > .status-item.enabled + .status-obsolete:before,
.status-group > .status-item.enabled + .status-obsolete > .item-icon,
.status-obsolete > .item-icon {
    background-color: rgb(120, 120, 120);
}

/* ===================================================================================
 *   COMPONENT - ALERT
 * =================================================================================== */

.alert {
    position: relative;
    padding: 15px 15px;
    margin-bottom: 15px;
    border-radius: 0;
}
.alert > .close {
    margin-left: 5px;
    margin-right: -5px;
    font-size: 14px;
    line-height: 20px;
}

/* ===================================================================================
 *   COMPONENT - LIST-GROUP
 * =================================================================================== */

.list-group {
    margin-bottom: 15px;
}
.list-group.list-group-bordered {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(220, 220, 220);
}

.list-group-column {
    display: flex;
    flex-flow: column wrap;
}

.list-group-header {
    padding: 10px 15px;
    margin: 0 0;
    color: rgb(120, 120, 120);
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-item .item-icon {
    width: 1.4em;
}

.list-group-item + hr {
    margin-top: 15px;
}

.list-group-spinner {
    padding: 10px 15px;
    color: rgb(030, 060, 110);
    text-align: center;
}

/* ===================================================================================
 *   COMPONENT - LIST-GROUP - LINKED ITEMS
 * =================================================================================== */

a.list-group-item {
    margin-bottom: 0;
    color: rgb(050, 050, 050);
    background-color: rgb(245, 245, 245);
    border-width: 0;
    border-right: 3px solid transparent;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a.list-group-item:hover,
a.list-group-item:focus {
    color: rgb(070, 180, 200);
    background-color: rgb(255, 255, 255);
    border-color: rgb(070, 180, 200);
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: rgb(030, 060, 110);
    background-color: rgb(255, 255, 255);
    border-color: rgb(030, 060, 110);
}

a.list-group-item.has-badge {
    padding-right: 30px;
}

a.list-group-item > .badge-status:empty {
    display: inline-block;
}
a.list-group-item > .badge-status {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 5px 5px;
    border-radius: 50%;
}

.list-group-column > a.list-group-item {
    width: 25%;
}

/* ===================================================================================
 *   COMPONENT - LIST-GROUP - OPTIONS
 * =================================================================================== */

.item-toggle {
    padding: 0 0;
    margin-bottom: 15px;
}
.item-toggle .toggle {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    padding-right: 35px;
    margin-bottom: 0;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
.item-toggle .toggle .track {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

.item-toggle > .toggle + .list-group {
    margin-bottom: 0;
}
.item-toggle > .toggle + .list-group > .list-group-item {
    border-right: none;
    border-left: none;
}
.item-toggle > .toggle + .list-group > .list-group-item:last-child {
    border-bottom: none;
}

.toggle .track input {
    display: none;
}

.toggle .track input + .fa:before {
    content: "\f204";
    color: rgb(120, 120, 120);
}
.toggle .track input:checked + .fa:before {
    content: "\f205";
    color: rgb(060, 120, 060);
}

.item-checkbox {
    padding: 0 0;
}
.item-checkbox .checkbox {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    padding-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
}
.item-checkbox .checkbox .track {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0%, -50%);
}

.checkbox .track input {
    display: none;
}
.checkbox .track input + .fa:before {
    content: "\f096";
    color: rgb(120, 120, 120);
}
.checkbox .track input:checked + .fa:before {
    content: "\f046";
    color: rgb(060, 120, 060);
}

.item-radio {
    padding: 0 0;
}
.item-radio .radio {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    padding-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
.item-radio .radio .track {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0%, -50%);
}

.radio .track + span {
    margin-left: 30px;
}

.radio .track input {
    display: none;
}
.radio .track input + .fa:before {
    content: "\f1db";
    color: rgb(120, 120, 120);
}
.radio .track input:checked + .fa:before {
    content: "\f192";
    color: rgb(060, 120, 060);
}

/* ===================================================================================
 *   COMPONENT - THUMBNAIL
 * =================================================================================== */

.thumbnail {
    padding: 5px;
    margin-bottom: 15px;
    border-color: rgb(220, 220, 220);
    border-radius: 0;
}
.thumbnail > img {
    position: relative;
    top: 50%;
    max-height: 100%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* ===================================================================================
 *   COMPONENT - PANEL
 * =================================================================================== */

.panel {
    margin-bottom: 15px;
    border-radius: 0;
}

.panel-heading {
    position: relative;
    padding: 10px 15px;
    border-radius: 0;
}

.panel-heading.panel-product {
    background-color: rgb(255, 255, 255);
}

.panel-heading:last-child {
    border-bottom-width: 0;
}
.panel-heading > .h3,
.panel-heading > .h4 {
    margin-bottom: 0;
}
.panel-heading > .list-inline {
    margin-bottom: 0;
}

.panel-body {
    padding-bottom: 0;
    border-radius: 0;
}

.panel-title {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.panel-title > small {
    font-size: 70%;
}

.panel-subtitle {
    display: block;
    font-size: 90%;
    line-height: 20px;
}

.panel-options {
    margin-top: 5px;
}
.panel-options.static-right {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-top: 0;
}

.panel-default {
    background-color: rgb(255, 255, 255);
    border-color: rgb(220, 220, 220);
}
.panel-default > .panel-heading {
    border-color: rgb(220, 220, 220);
}

.panel-default > .panel-heading > .panel-subtitle {
    color: rgb(120, 120, 120);
}
.panel-default.active {
    border-color: rgb(250, 120, 040);
}

.panel-default > .panel-heading > a.panel-title {
    color: rgb(030, 060, 110);
}
.panel-default > .panel-heading > a.panel-title:hover,
.panel-default > .panel-heading > a.panel-title:focus {
    color: rgb(070, 180, 200);
}

.panel-default.second-level > .panel-heading {
    background-color: rgb(245, 245, 245);
}

.panel-default.second-level > .panel-heading:hover {
    cursor: pointer;
    color: rgb(070, 180, 200);
}

/* ===================================================================================
 *   COMPONENT - MODAL
 * =================================================================================== */

.modal-content {
    background-color: rgb(255, 255, 255);
    border-color: rgb(220, 220, 220);
    border-radius: 0;
}

.modal-header {
    background-color: rgb(255, 255, 255);
    border-color: rgb(220, 220, 220);
}
.modal-header .modal-title {
    line-height: 20px;
    color: rgb(040, 140, 150);
}
.modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
    line-height: 20px;
}

.modal-body {
    padding-bottom: 0;
}

.modal-footer {
    padding-top: 0;
    border-top-width: 0;
}

/* ===================================================================================
 *   COMPONENT - ITEM PRODUCT
 * =================================================================================== */

.item-product {
    position: relative;
    width: 250px;
    margin: 0 5px 15px;
}

.item-product > .panel-heading:hover {
    cursor: pointer;
}

.item-shadow {
    transition: opacity 1s;
    opacity: 0;
}

.item-shadow-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-color: rgb(0, 0, 0);
}

/* ===================================================================================
 *   COMPONENT - ITEM OFFERING
 * =================================================================================== */

.item-offering,
.item-product {
    position: relative;
    width: 250px;
    margin: 0 5px 15px;
}

.item-product-logo {
    height: 180px;
    min-width: 200px;
}

/* ===================================================================================
 *   COMPONENT - OFFERING
 * =================================================================================== */

.category-list {
    max-height: 90px;
}


.icon-shopping-cart {
    position: relative;
}
.icon-shopping-cart .badge {
    position: absolute;
    font-size: 80%;
    top: -6px;
    left: 0;
    padding: 2px 5px;
    /* right: 3px; */
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translate(-50%, 0%);
    left: 55%;
}

.icon-shopping-cart .badge.badge-success {
    background-color: rgb(90, 185, 90);
}

.icon-shopping-cart .badge.badge-error {
    background-color: #d43f3a;
}

.item-offering-ordered {
    position: relative;
}
.item-offering-ordered .fa-close {
    transform: translate(0%, -50%);
    top: 50%;
    position: absolute;
    right: 10px;
}
.item-offering-ordered .fa-close:hover {
    cursor: pointer;
    color: rgb(217, 83, 79);
}

.panel[offering-priceplan] {
    position: relative;
    width: 250px;
    margin: 0 5px 15px;
}
