.panel.panel-default.z-depth-1
  ul.nav.nav-responsive.nav-pills
    li(ui-sref-active="active")
      a(ui-sref="inventory.product", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-file
        span.item-text #{ __("Products") }
    li(ui-sref-active="active")
      a(ui-sref="inventory.service", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-file
        span.item-text #{ __("Services") }
    li(ui-sref-active="active")
      a(ui-sref="inventory.resource", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-file
        span.item-text #{ __("Resources") }
    li(ui-sref-active="active")
      a(ui-sref="inventory.productOrder", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-shopping-bag
        span.item-text #{ __("Product Orders") }