extends ./base.jade

block content
  .container
    .row(ng-controller="PaymentController as payment" ng-init="payment.initPayment(user)")
      .col-sm-12(ng-switch="payment.state")
        .container-spinner(ng-switch-when="LOADING")
          span.fa.fa-spinner.fa-spin.fa-2x
        .alert.text-center(ng-switch-default, ng-class="payment.state === 'ACCEPTED' ? 'alert-info' : 'alert-danger'")
          a.close(onclick="window.close()")
            i.fa.fa-fw.fa-remove
          span.alert-message {{ payment.message }}