extends ./base.jade

block content
  .container
    .row(ng-controller="PaymentController")
      .col-sm-12(ng-switch="state")
        .container-spinner(ng-switch-when="LOADING")
          span.fa.fa-spinner.fa-spin.fa-2x
        .alert.text-center(ng-switch-default, ng-class="state === 'ACCEPTED' ? 'alert-info' : 'alert-danger'")
          a.close(onclick="window.close()")
            i.fa.fa-fw.fa-remove
          span.alert-message {{ message }}