a.dropdown-toggle.contributors(data-toggle="dropdown")
  i.fa.fa-users
  span.hidden-xs #{ __(" Contributors") }
.dropdown-menu.z-depth-3(id="contrib-menu")
  a.dropdown-menu-item(href="https://www.upm.es")
    img.contrib-img(src="#{ contextPath }/resources/core/images/upm.png")
    span.item-text UPM
  a.dropdown-menu-item(href="https://www.ficodes.com")
    img.contrib-img(src="#{ contextPath }/resources/core/images/ficodes.svg")
    span.item-text FICODES
  a.dropdown-menu-item(href="https://www.digicatapult.org.uk/")
    img.contrib-img(src="#{ contextPath }/resources/core/images/digicatapult.png")
    span.item-text Digital Catapult
