<div class="row" ng-controller="UserCustomerView">
  <div class="col-sm-3">
    <div class="panel panel-default" ng-controller="CatalogueListCtrl">
      <div class="panel-heading">
        <span class="panel-title">Catalogues</span>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-search fa-flip-horizontal"></i></button>
            </div>
          </div>
        </div>
        <div class="list-group">
          <a class="list-group-item" ng-class="{'active': !$catalogueItem}" ng-click="select()"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
          <a class="list-group-item active" ng-click="select($catalogueItem)" ng-if="$catalogueItem != null">{{ $catalogueItem.name }}</a>
        </div>
        <hr>
        <div class="list-group">
          <a class="list-group-item" ng-repeat="$catalogue in $catalogueList" ng-class="{'disabled': isSelected($catalogue)}" ng-click="select($catalogue)">{{ $catalogue.name }}</a>
        </div>
        <ul class="pager">
          <li class="disabled"><a><i class="fa fa-arrow-left"></i></a></li>
          <li class="disabled"><a><i class="fa fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default" ng-controller="CategoryListCtrl">
      <div class="panel-heading">
        <span class="panel-title">Categories</span>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-search fa-flip-horizontal"></i></button>
            </div>
          </div>
        </div>
        <div class="list-group">
          <a class="list-group-item" ng-class="{'active': !$categoryItem}" ng-click="select()"><i class="fa fa-tags fa-fw"></i>&nbsp; All offerings</a>
          <a class="list-group-item active" ng-click="select($categoryItem)" ng-hide="!$categoryItem">{{ $categoryItem.name }}</a>
        </div>
        <hr>
        <div class="list-group">
          <a class="list-group-item" ng-repeat="$category in $categoryList" ng-class="{'disabled': $category.active}" ng-click="select($category)">{{ $category.name }}</a>
        </div>
        <ul class="pager">
          <li class="disabled"><a><i class="fa fa-arrow-left"></i></a></li>
          <li class="disabled"><a><i class="fa fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9" ng-controller="CatalogueDetailCtrl">
    <div class="panel panel-default panel-category" ng-if="$catalogue != null">
      <div class="panel-heading">
        <span class="panel-title">{{ $catalogue.name }}</span>
        <div class="panel-options text-right">
          <button type="button" class="btn btn-sm btn-primary" bs-tooltip data-title="New offering"><i class="fa fa-cube fa-fw"></i></button>
        </div>
      </div>
      <div class="panel-body">
        <blockquote ng-if="$catalogue.description">
          <p>{{ $catalogue.description }}</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>