extends ./base.jade

block title
  | &nbsp;- Marketplace

block navbar-title
  | Marketplace

block content
  .row(ng-controller="UserCustomerView")
    .col-sm-3
      .panel.panel-default(ng-controller="CatalogueListCtrl")
        .panel-heading
          .panel-title Catalogues
        .panel-body
          .list-group
            a.list-group-item(ng-class="{'active': !$catalogueActive}", ng-click="refreshList()")
              i.fa.fa-home.fa-fw
              | &nbsp;Home
          hr
          div(ng-switch="$catalogueList.length")
            div(ng-switch-when="0")
              .alert.alert-info No catalogues launched yet.
            div(ng-switch-default)
              .list-group
                a.list-group-item(ng-repeat="$catalogue in $catalogueList", ng-class="{'active': isActive($catalogue)}", ng-click="showCatalogue($catalogue)")
                  | {{ $catalogue.name }}
              ul.pager
                li.disabled
                  a
                    i.fa.fa-arrow-left
                li.disabled
                  a
                    i.fa.fa-arrow-right
      .panel.panel-default(ng-controller="CategoryListCtrl")
        .panel-heading
          .panel-title Categories
        .panel-body
          .list-group
            a.list-group-item(ng-class="{'active': !$categoryActive}", ng-click="refreshList()")
              i.fa.fa-tags.fa-fw
              | &nbsp;All offerings
          hr
          div(ng-switch="$categoryList.length")
            div(ng-switch-when="0")
              .alert.alert-info No categories launched yet.
            div(ng-switch-default)
              .list-group
                a.list-group-item(ng-repeat="$category in $categoryList", ng-class="{'active': isActive($category)}", ng-click="showCategory($category)")
                  | {{ $category.name }}
              ul.pager
                li.disabled
                  a
                    i.fa.fa-arrow-left
                li.disabled
                  a
                    i.fa.fa-arrow-right
    .col-sm-9
      .row
        .col-sm-12(ng-controller="CatalogueDetailCtrl")
          .panel.panel-default(ng-if="$catalogue != null")
            .panel-heading
              .panel-title {{ $catalogue.name }}
              .panel-options.text-right
                button.btn.btn-sm.btn-primary(type="button", bs-tooltip, data-title="New offering")
                  i.fa.fa-cube.fa-fw
            .panel-body
              blockquote(ng-if="$catalogue.description")
                p {{ $catalogue.description }}
        .col-sm-12(ng-controller="CategoryDetailCtrl")
          .panel.panel-default(ng-if="$categoryBreadcrumb.length")
            .panel-heading
              .panel-title Filter by category
            .panel-body
              ol.breadcrumb.breadcrumb-primary
                li(ng-repeat="$category in $categoryBreadcrumb", ng-class="{'active': isActive($category)}")
                  a(ng-click="refreshCategory($category)")
                    | {{ $category.name }}
                  a(ng-if="isActive($category) && $subCategoryList.length")
                    i.fa.fa-fw(ng-class="$subCategoryListHidden ? 'fa-caret-down': 'fa-caret-up'", ng-click="showSubCategoryList()")
              div(ng-if="$subCategoryList.length && !$subCategoryListHidden")
                .list-group.flex-container-column.list-subcategories
                  a.list-group-item(ng-repeat="$category in $subCategoryList", ng-click="showCategory($category)")
                    | {{ $category.name }}
                ul.pager
                  li.disabled
                    a
                      i.fa.fa-arrow-left
                  li.disabled
                    a
                      i.fa.fa-arrow-right
        .col-sm-12(ng-controller="OfferingListCtrl")
          .flex-container
            .panel.panel-default.item-product(ng-repeat="$offering in $offeringList")
              .panel-heading
                .thumbnail.item-product-logo
                  img(no-image, ng-src="{{ getProductPicture($offering) }}")
                a.panel-title {{ $offering.name }}
                .panel-subtitle
                  span v{{ $offering.version }}
                  span.pull-right
                    time(am-time-ago="$offering.lastUpdate")
              .panel-body
              .btn-toolbar(ng-if="isAuthenticated()")
                .btn-group.btn-group-sm
                  button.btn.btn-primary(type="button", ng-click="orderItem($offering)") Add to Cart
          ul.pager
            li.disabled
              a
                i.fa.fa-arrow-left
            li.disabled
              a
                i.fa.fa-arrow-right