extends ./base.jade

block title
  | &nbsp;- My Stock

block navbar-title
  | My Stock

block content
  .row(ng-controller="UserSellerView")
    .col-sm-12
      .panel.panel-default
        .panel-body
          .nav.nav-pills.nav-justified
            li(ng-class="{'active': activeController == 'ProductView'}")
              a(href="#/products")
                i.fa.fa-file.fa-fw
                | &nbsp;Products
            li.divider
            li(ng-class="{'active': activeController == 'CatalogueView'}")
              a(href="#/catalogues")
                i.fa.fa-book.fa-fw
                | &nbsp;Catalogues
            li(ng-class="{'active': activeController == 'OfferingView'}")
              a(href="#/offerings")
                i.fa.fa-cube.fa-fw
                | &nbsp;Offerings
    .col-sm-12(ng-view)