extends ./base.jade

block content
  .container
    .row
      .col-sm-12
        .alert(class="alert-danger")
          | There was an unexpected error that prevented the system from fulfilling the request.
          | The error will be handled by the administrators. Sorry for the inconvenience.