.row
  .col-xs-12
    .btn-toolbar.toolbar-container
      include ./breadcrumb.jade
      //- .btn-group.z-depth-1.catalog-bar
      //-   input.form-control(ng-keyup="searchVM.handleEnterKeyUp($event)", ng-init="searchVM.initializeInput()", ng-model="searchVM.searchInput", type="text", placeholder="{ __('Search') }..."), id="searchparams")