.table-responsive
  table.table.table-bordered.table-hover
    thead
      tr
        th #{ __("Status") }
        th #{ __("Name") }
        th #{ __("Last Updated") }
    tbody
      tr(ng-repeat="serviceSpecification in searchVM.list")
        td
          .status-item(class="status-{{ serviceSpecification.lifecycleStatus | lowercase }}")
            span.item-icon
            span.item-text {{ serviceSpecification.lifecycleStatus }}
        th
          a(ui-sref="stock.service.update({ serviceId: serviceSpecification.id })", ui-sref-opts="{ inherit: false }") {{ serviceSpecification.name }}
        td
          time(am-time-ago="serviceSpecification.lastUpdate")
