.row
  .col-xs-12
    .btn-toolbar.toolbar-container
      include ./breadcrumb.jade
      .btn-group.z-depth-1
        a.btn.btn-success(ui-sref="stock.service.create", ui-sref-opts="{ inherit: false }")
          span.item-icon.fa.fa-plus-circle
          span.item-text #{ __("New") }
      .btn-group.z-depth-1.catalog-bar
        input.form-control(ng-keyup="searchVM.handleEnterKeyUp($event)", ng-init="searchVM.initializeInput()", ng-model="searchVM.searchInput", type="text", placeholder="#{ __('Search') }...", id="searchparams")
      .btn-group.z-depth-1.catalog-bar
        a.btn.btn-default(ui-sref="stock.service({ body: searchVM.getSearchInputContent() })", id="searchbutton")
          span.item-icon.fa.fa-search
          span.item-text.hidden-xs #{ __("Search") }
      .btn-group.z-depth-1
        a.btn.btn-default(ng-click="searchVM.showFilters()")
          span.item-icon.fa.fa-sliders
          span.item-text.hidden-xs #{ __("Filters") }