ui-view
  .row
    .col-xs-12
      include ./search-toolbar.jade
    .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.LOADING")
      .container-spinner
        span.fa.fa-spinner.fa-spin.fa-2x
    .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.ERROR")
      .alert.alert-danger.text-center
        span {{ searchVM.errorMessage }}
    .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.LOADED" ng-switch="searchVM.list.length")
      div(ng-switch-when="0")
        .alert.alert-info.text-center
          span #{ __("No resource specifications found.") }
      div(ng-switch-default, ng-switch="searchVM.list.flow")
          include ./search-list.jade
    .col-xs-12
      pager(controller="searchVM", size="12", max="12")