.table-responsive
  table.table.table-bordered.table-hover
    thead
      tr
        th #{ __("Status") }
        th #{ __("Name") }
        th #{ __("Last Updated") }
    tbody
      tr(ng-repeat="resource in searchVM.list")
        td
          .status-item(class="status-{{ resource.lifecycleStatus | lowercase }}")
            span.item-icon
            span.item-text {{ resource.lifecycleStatus }}
        th
          a(ui-sref="stock.resource.update({ resourceId: resource.id })", ui-sref-opts="{ inherit: false }") {{ resource.name }}
        td
          time(am-time-ago="resource.lastUpdate")