.row
  .col-xs-12.col-sm-6
    include ./breadcrumb.jade
  .col-xs-12.col-sm-6
    .btn-toolbar.pull-right
      .btn-group.z-depth-1
        a.btn.btn-success(ui-sref="stock.models.create", ui-sref-opts="{ inherit: false }")
          span.item-icon.fa.fa-plus-circle
          span.item-text New