form(name="form" novalidate)
  .row
    .col-xs-12
      .h5.text-dark-secondary
        strong Email address
      include ../email-address-fields.jade
    .col-xs-12
      hr
      .h5.text-dark-secondary
        strong Postal address
      include ../postal-address-fields.jade
    .col-xs-12
      hr
      .h5.text-dark-secondary
        strong Telephone number
      include ../telephone-number-fields.jade