form(name="form" novalidate)
  .row
    .col-xs-12
      .h5.text-dark-secondary
        strong #{ __("Email address") }
      include ../email-address-fields.jade
    .col-xs-12
      hr
      .h5.text-dark-secondary
        strong #{ __("Postal address") }
      include ../postal-address-fields.jade
    .col-xs-12
      hr
      .h5.text-dark-secondary
        strong #{ __("Telephone number") }
      include ../telephone-number-fields.jade