div(ng-if="!detailVM.services.length > 0")
  .alert.alert-info.text-center #{ __("No services found.") }
div(ng-if="detailVM.services.length > 0")
  .table-responsive
    table.table.table-bordered.table-hover
      thead
        tr
          th #{ __("Status") }
          th #{ __("Name") }
          th #{ __("Start Date") }
      tbody
        tr(ng-repeat="service in detailVM.services")
          td
            .status-item.active(class="status-{{ service.state | lowercase }}")
              span.item-icon
              span.item-text {{ service.state }}
          th
            a(ui-sref="inventory.service.detail({ serviceId: service.id })", ui-sref-opts="{ inherit: false }") {{ service.name }}
          td
            time(am-time-ago="service.startDate")
