.row
  .col-xs-12
    .container-spinner(ng-if="detailVM.charges.status == 'LOADING'")
      span.fa.fa-spinner.fa-spin.fa-2x

    .panel.panel-default.z-depth-1(ng-if="detailVM.charges.status == 'LOADED'", ng-repeat="charge in detailVM.charges.items")
      .panel-heading
        .h4
          strong
            time(title="{{ charge.date | amCalendar }}") {{ charge.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
            .pull-right
              span {{ charge.taxIncludedAmount }}
              span {{ charge.currencyCode }}
      .panel-body
        p.text-dark-secondary {{ charge.description }}
        p.text-dark-primary
          strong Concept
        p.text-dark-secondary {{ charge.type }}

        div(ng-if="charge.period.length")
          p.text-dark-primary
            strong Charged period
          p.text-dark-secondary {{ charge.period[0].startPeriod | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
            | to {{ charge.period[0].endPeriod | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}

        .btn-toolbar
          .btn-group
            a.btn.btn-warning.z-depth-1(ng-click="detailVM.downloadInvoice(charge.invoice)")
              span.item-icon.fa.fa-download
              span.item-text Download invoice

    .alert.alert-info.text-center(ng-if="detailVM.charges.status == 'LOADED' && !detailVM.charges.items.length") No characteristics included.
    .alert.alert-danger.text-center(ng-if="detailVM.charges.status == 'ERROR'") {{ detailVM.charges.error }}