.table-responsive
  table.table.table-bordered.table-hover
    thead
      tr
        th Status
        th Offering Name
        th Offering Version
        th Order Date
    tbody
      tr(ng-repeat="product in searchVM.list")
        td
          .status-item.active(class="status-{{ product.status | lowercase }}")
            span.item-icon
            span.item-text {{ product.status }}
        th
          a(ui-sref="inventory.product.detail({ productId: product.id })", ui-sref-opts="{ inherit: false }") {{ product.productOffering.name }}
        td
          span v{{ product.productOffering.version }}
        td
          time(am-time-ago="product.startDate")
