.container-flex
  .panel.panel-default.item-offering.z-depth-1(ng-repeat="product in searchVM.list")
    a.thumbnail.thumbnail-lg(ui-sref="inventory.product.detail({ productId: product.id })", ui-sref-opts="{ inherit: false }")
      span.label(class="label-{{ product.productOffering.isBundle ? 'bundle' : 'single' }}")
        | {{ product.productOffering.isBundle ? product.productOffering.bundledProductOffering.length + ' bundled' : 'Single' }}
      img(no-image, ng-src="{{ product.productOffering.getPicture() }}")
    .panel-body
      .h4.text-ellipsis
        strong
          a(ui-sref="inventory.product.detail({ productId: product.id })", ui-sref-opts="{ inherit: false }") {{ product.productOffering.name }}
      .form-group.text-dark-secondary
        span.pull-right
          time(am-time-ago="product.startDate")
        p v{{ product.productOffering.version }}
        p.item-description {{ product.productOffering.description ? product.productOffering.description : 'No description provided.' }}
      .status-group
        .status-item.active(class="status-{{ product.status | lowercase }}")
          span.item-icon
          span.item-text {{ product.status }}