.row
  .col-xs-12.col-sm-3
    include ./breadcrumb.jade
  .col-xs-12.col-sm-9
    .btn-toolbar.pull-right
      .btn-group.z-depth-1
        input.form-control(ng-keyup="searchVM.handleEnterKeyUp($event)", ng-init="searchVM.initializeInput()", ng-model="searchVM.searchInput", type="text", placeholder="Search...", id="searchparams")
      .btn-group.z-depth-1
        a.btn.btn-default(ui-sref="inventory.product({ body: searchVM.getSearchInputContent() })", id="searchbutton")
          span.item-icon.fa.fa-search
          span.item-text.hidden-xs Search
      .btn-group.z-depth-1
        a.btn.btn-default(ng-click="searchVM.test()")
          span.item-icon.fa.fa-search
          span.item-text.hidden-xs Test
      .btn-group.z-depth-1
        a.btn.btn-default(ng-click="searchVM.showFilters()")
          span.item-icon.fa.fa-sliders
          span.item-text.hidden-xs Filters
      .btn-group.z-depth-1
        a.btn.btn-default(ui-sref="inventory.product({ flow: 1 })", ui-sref-active="active")
          span.item-icon.fa.fa-th
        a.btn.btn-default(ui-sref="inventory.product({ flow: 2 })", ui-sref-active="active")
          span.item-icon.fa.fa-th-list