.btn-toolbar
  .btn-group
    include ./breadcrumb.jade
  .btn-group.pull-right
    a.btn.btn-default(ui-sref="inventory.product({ flow: 1 })", ui-sref-active="active")
      span.item-icon.fa.fa-th
    a.btn.btn-default(ui-sref="inventory.product({ flow: 2 })", ui-sref-active="active")
      span.item-icon.fa.fa-th-list
  .btn-group.pull-right
    button.btn.btn-default(type="button", ng-click="searchVM.showFilters()")
      span.item-icon.fa.fa-sliders
      span.item-text.hidden-xs Filters