.breadcrumb-triangle.z-depth-1
  a(ui-sref="inventory.resource", ui-sref-opts="{ reload: true, inherit: false }", ui-sref-active-eq="active")
    span.item-icon.fa.fa-list
    span.item-text #{ __("List") }
  a(ng-if="searchVM.state.includes('inventory.resource.detail')", ui-sref="inventory.resource.detail", ui-sref-opts="{ reload: true }", ui-sref-active="active")
    span.item-icon.fa.fa-binoculars
    span.item-text #{ __("Details") }
