.panel.panel-default
  .panel-heading
    strong.text-uppercase My Stock
  ul.nav.nav-pills.nav-stacked
    li(ui-sref-active="active")
      a(ui-sref="app.stock.catalogue")
        span.item-icon.fa.fa-book
        span.item-text Catalogues
    li(ui-sref-active="active")
      a(ui-sref="app.stock.product")
        span.item-icon.fa.fa-file
        span.item-text Products
    li(ui-sref-active="active")
      a(ui-sref="app.stock.offering")
        span.item-icon.fa.fa-cube
        span.item-text Offerings