.row(ng-switch="loading")
  .col-xs-12(ng-switch-when="true")
    .container-spinner
      span.fa.fa-spinner.fa-3x.fa-spin
  .col-sm-12(ng-switch-default)
    .row
      .col-xs-12
        ol.breadcrumb
          li
            a(ui-sref="app.stock.offering", ui-sref-active-eq="disabled")
              span Search offering
          li
            a(ui-sref="app.stock.offering.update({ offeringId: offering.id })", ui-sref-active="disabled")
              span {{ offering.name }}