.row
  .col-xs-12
    .container-flex
      .panel.panel-default.item-offering.z-depth-1(ng-repeat="productOffering in detailVM.item.relationships()")
        a.thumbnail.thumbnail-lg(ui-sref="offering.detail({ offeringId: productOffering.id })", ui-sref-opts="{ inherit: false }")
          span.label.label-relationship.label-to-left
            | {{ detailVM.item.relationshipOf(productOffering).parseType() }}
          span.label(class="label-{{ productOffering.isBundle ? 'bundle' : 'single' }}")
            | {{ productOffering.isBundle ? productOffering.bundledProductOffering.length + ' bundled' : 'Single' }}
          img(no-image, ng-src="{{ productOffering.getPicture() }}")
        .panel-body
          .h4.text-ellipsis
            strong
              a(ui-sref="offering.detail({ offeringId: productOffering.id })", ui-sref-opts="{ inherit: false }") {{ productOffering.name }}
          .form-group.text-dark-secondary
            span.pull-right
              time(am-time-ago="productOffering.lastUpdate")
            p v{{ productOffering.version }}
            p.item-description {{ productOffering.description ? productOffering.description : 'No description provided.' }}
          .h5.text-right
            strong {{ productOffering.formatCheapestPricePlan() }}
        .btn-group.btn-group-justified(ng-show="user.isAuthenticated()")
          a.btn.btn-success.z-depth-1(ng-click="user.order(productOffering)", ng-disabled="user.contains(productOffering)")
            span.item-icon.fa(class="fa-{{ user.contains(productOffering) ? 'check-circle' : 'shopping-cart' }}")
            span.item-text {{ user.contains(productOffering) ? 'Added' : 'Add to cart' }}