.row
  .col-xs-12
    .panel.panel-default.z-depth-1(ng-repeat="characteristic in detailVM.item.productSpecification.productSpecCharacteristic")
      .panel-heading
        .h4
          strong {{ characteristic.name }}
      .panel-body
        p.text-dark-secondary {{ characteristic.description ? characteristic.description : 'No description provided.' }}
        .form-group
          p(ng-repeat="characteristicValue in characteristic.productSpecCharacteristicValue")
            span.fa.fa-fw(ng-class="characteristicValue.default ? 'fa-check-circle': 'fa-circle-o'")
            span  {{ detailVM.formatCharacteristicValue(characteristic, characteristicValue) }}
  .col-xs-12(ng-if="!detailVM.item.productSpecification.productSpecCharacteristic.length")
    .alert.alert-info.text-center No characteristics included.