.row(ng-controller="CatalogueDetailCtrl as detailVM")
  .col-xs-12
    .panel.panel-default.z-depth-1(ng-if="detailVM.catalogueId")
      .panel-body
        .h3
          strong {{ detailVM.item.name }}
        .form-group
          p.text-right.text-dark-secondary
            time(am-time-ago="detailVM.item.lastUpdate")
          p.text-dark-secondary {{ detailVM.item.description ? detailVM.item.description : '#{ __("No description provided.") }' }}