.panel.panel-default.z-depth-1(ng-switch="listVM.list.status")
  .panel-heading
    .h4
      strong #{ __("Search by catalog") }
  .nav.nav-stacked.nav-pills
        input.form-control(ng-change="listVM.updateList()", ng-model="listVM.sidebarInput", type="text", placeholder="#{ __("Search") }...", id="sidebarsearch")
  ul.nav.nav-stacked.nav-pills(ng-switch-when="LOADED")
    li(ui-sref-active-eq="active")
      a(ui-sref="offering({ catalogueId: null })", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-angle-right
        span.item-text #{ __("All") }
    li(ng-repeat="productCatalog in listVM.list", ui-sref-active="active")
      a(ui-sref="offering({ catalogueId: productCatalog.id })", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-angle-right
        span.item-text {{ productCatalog.name }}
  .panel-body(ng-switch-when="ERROR")
    .alert.alert-danger.text-center {{ listVM.error }}
  .panel-body(ng-switch-default)
    .spinner
      span.fa.fa-spinner.fa-lg.fa-spin
  pager.home-catalog-pager(controller="listVM", size="10", max="4")