.btn-toolbar
  .btn-group
    include ./breadcrumb.jade
  .btn-group.pull-right
    a.btn.btn-default(ui-sref="stock.catalogue.create", ui-sref-opts="{ inherit: false }")
      span.item-icon.fa.fa-plus-circle
      span.item-text.hidden-xs New catalogue
    a.btn.btn-default(ng-click="searchVM.showFilters()")
      span.item-icon.fa.fa-sliders
      span.item-text.hidden-xs Filters