.row
  .col-xs-12
    .row
      .col-xs-12.col-sm-6
        include ../../product-category.search.jade
      .col-xs-12.col-sm-6
        .btn-toolbar
          .btn-group.pull-right
            a.btn.btn-default.z-depth-1(ng-click="searchVM.showFilters()")
              span.item-icon.fa.fa-sliders
              span.item-text Filters
  .col-xs-12(ng-switch="searchVM.list.status")
    div(ng-switch-when="LOADED", ng-switch="searchVM.list.length")
      div(ng-switch-when="0")
        .alert.alert-info.text-center No offerings found.
      div(ng-switch-default)
        include ../product-offering/search-list.jade
    div(ng-switch-when="ERROR")
      .alert.alert-danger.text-center {{ searchVM.error }}
    div(ng-switch-default)
      .container-spinner
        span.fa.fa-spinner.fa-spin.fa-2x