table.table.table-bordered
  thead
    tr
      th #{ __("Username") }
      th #{ __("Owner") }
      th #{ __("Seller") }
  tbody
    tr(ng-repeat="party in updateVM.item.relatedParty")
      td {{ party.id }}
      td.text-success
        i.fa.fa-check-circle-o(ng-if="party.role == 'Owner'")
      td.text-success
        i.fa.fa-check-circle-o(ng-if="party.role == 'Seller'")