.row
  .col-sm-12
    include ./ProductCatalogueSearchView.jade
  .col-sm-3
    include ./ProductCatalogueListView.jade
  .col-sm-9
    include ./ProductCatalogueDetailView.jade

include ./ProductCatalogueCreateView.jade
include ./ProductCatalogueUpdateView.jade