.row
  .col-sm-12(ng-controller="CatalogueListCtrl")
    .panel.panel-default(ng-if="$catalogueList.length")
      .panel-heading
        .panel-title Catalogues
      .panel-body
        .list-group
          a.list-group-item.has-badge(
            ng-repeat="$catalogue in $catalogueList"
            ng-class="{ 'active' : isActive($catalogue) }"
            ng-click="showCatalogue($catalogue)"
          )
            span.badge.badge-status(ng-class="'status-{{ $catalogue.lifecycleStatus | lowercase }}'")
            | {{ $catalogue.name }}
        ul.pager
          li.disabled
            a
              i.fa.fa-arrow-left
          li.disabled
            a
              i.fa.fa-arrow-right