.row
  .col-xs-12(ng-controller="FormWizardCtrl as updateForm")
    .panel.panel-default.z-depth-1(ng-if="updateVM.data.contactMedium.length")
      .panel-body
        .h4.text-dark-secondary
          strong Contact Medium
        hr
        .alert.alert-info This information may be viewed by anyone.
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th Type
                th Contact
            tbody
              tr(ng-repeat="contact in updateVM.data.contactMedium")
                th
                  .item-checkbox
                    label.checkbox
                      .track
                        input(type="checkbox", ng-checked="updateVM.contactMediumSelected.indexOf(contact) !== -1", ng-click="updateVM.toggleContact(contact)")
                        i.fa.fa-lg
                      strong {{ contact.type }}
                td
                  a.pull-right(ng-click="updateVM.updateContact(contact)")
                    span.fa.fa-pencil
                  span {{ updateVM.formatContact(contact) }}
        form(name="updateVM.contactDeleteForm", novalidate)
          .form-group.text-right
            a.btn.btn-danger.z-depth-1(ng-click="updateVM.removeContact()", ng-disabled="!updateVM.contactMediumSelected.length")
              span.item-text Delete
    .panel.panel-default.z-depth-1
      .panel-body(ng-controller="ContactMediumCreateCtrl as entryAttrVM")
        .h4.text-dark-secondary
          strong New contact medium
        hr
        form(name="entryAttrVM.form", novalidate, ng-if="!updateVM.isNotCreated", ng-submit="entryAttrVM.form.$valid && entryAttrVM.create()")
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.type) }")
                label Contact
                select.form-control(
                  name="type"
                  ng-model="entryAttrVM.data.type"
                  ng-change = "entryAttrVM.refresh()"
                )
                  option(ng-repeat="(key, value) in MEDIUM_TYPES", value="{{ value }}") {{ value }}
          .row(ng-if="entryAttrVM.data.type === MEDIUM_TYPES.EMAIL_ADDRESS")
            .col-xs-12
              include ./update-emailaddress.jade
          .row(ng-if="entryAttrVM.data.type === MEDIUM_TYPES.TELEPHONE_NUMBER")
            .col-xs-12
              include ./update-telephonenumber.jade
          .row(ng-if="entryAttrVM.data.type === MEDIUM_TYPES.POSTAL_ADDRESS")
            .col-xs-12
              include ./update-postaladdress.jade
          .form-group.text-right
            button.btn.btn-success.z-depth-1(type="submit", ng-disabled="!entryAttrVM.form.$valid")
              span.item-text Create
        .alert.alert-warning(ng-if="updateVM.isNotCreated") Sorry! In order to create contact mediums, you should first create a profile.