<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb text-right">
      <li><span class="label status-active">Active</span></li>
      <li><span class="label status-launched">Launched</span></li>
      <li><span class="label status-retired">Retired</span></li>
      <li><span class="label status-obsolete">Obsolete</span></li>
    </ol>
  </div>
</div>
<div class="row" ng-controller="OfferingListCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-switch on="createFormHidden">
          <div ng-switch-when="true">
            <form class="form-inline pull-left">
              <div class="form-group">
                <label>Search by:</label>
                <select class="form-control" ng-model="filters.type" ng-change="filterList()">
                  <option value="" selected>Any type</option>
                  <option ng-repeat="(key, value) in $offeringTypeList" value="{{ key }}">{{ value }}</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" ng-model="filters.status" ng-change="filterList()">
                  <option value="" selected>Any status</option>
                  <option ng-repeat="(key, value) in $offeringStatusList" value="{{ key }}">{{ value }}</option>
                </select>
              </div>
            </form>
            <div class="pull-right">
              <button type="button" class="btn btn-primary" bs-tooltip data-title="New offering" ng-click="changeView()"><i class="fa fa-cube fa-fw"></i>&nbsp;New offering</button>
            </div>
          </div>
          <div ng-switch-default>
            <form class="form-inline pull-right">
              <button type="button" class="btn btn-default" bs-tooltip data-title="Cancel new offering" ng-click="changeView()"><i class="fa fa-cube fa-fw"></i>&nbsp;Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-switch on="createFormHidden">
    <div ng-switch-when="true">
      <div class="col-sm-12 flex-container" ng-if="!$offeringList.length">
        <div class="alert alert-warning">There are no results that match your search.</div>
      </div>
      <div class="col-sm-12 flex-container">
        <div class="panel panel-default offering offering-grid" ng-repeat="$offering in $offeringList">
          <div class="panel-heading">
            <a class="thumbnail product-logo" ng-click="showUpdateForm($offering)">
              <img src="{{ getPicture($offering) }}">
            </a>
            <a class="panel-title" ng-click="showUpdateForm($offering)">{{ $offering.name }}</a>
            <div class="panel-subtitle">Updated <time am-time-ago="$offering.lastUpdate"></time></div>
          </div>
          <div class="panel-body">
            <p class="text-muted text-small">v{{ $offering.version }}</p>
            <div class="label-group">
              <span class="label label-{{ $offering.isBundle ? 'offering-bundle' : 'offering' }}">{{ $offering.isBundle ? 'Offering bundle' : 'Offering' }}</span>
            </div>
            <div class="lifecycle-status-group">
              <div class="lifecycle-status-item active" data-type="{{ $offering.lifecycleStatus | lowercase }}" data-title="{{ $offering.lifecycleStatus }}">
                <span class="status" bs-tooltip data-original-title="{{ $offering.lifecycleStatus }}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" ng-if="$offeringList.length">
        <ul class="pager">
          <li class="disabled"><a><i class="fa fa-arrow-left"></i></a></li>
          <li class="disabled"><a><i class="fa fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div ng-switch-default>
      <div class="col-sm-12" ng-controller="OfferingCreateCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">New offering</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3">
                <ul class="nav nav-steps nav-stacked">
                  <li ng-repeat="step in stepList" ng-class="{'active': $index == stepActive, 'disabled': setStepDisabled($index)}">
                    <a data-step="{{ $index }}" ng-click="showStep($index)">{{ step.name }}</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-9">
                <form name="stepList[0].form" novalidate ng-show="stepActive == 0">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-8">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" ng-model="offeringInfo.name" required>
                      </div>
                      <div class="col-sm-4">
                        <label>Version</label>
                        <input type="text" class="form-control" name="version" ng-model="offeringInfo.version" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description <small class="text-muted">optional</small></label>
                    <textarea class="form-control" name="description" rows="3" ng-model="offeringInfo.description"></textarea>
                  </div>
                  <div class="form-group text-right">
                    <button type="button" class="btn btn-primary" ng-click="nextStep(1)" ng-disabled="!stepList[0].form.$valid">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
                  </div>
                </form>
                <form name="stepList[1].form" novalidate ng-show="stepActive == 1">
                  <div class="form-group">
                    <label>Choose product</label>
                    <input type="hidden" ng-model="offeringInfo.productSpecification.id" required>
                    <table class="table table-bordered table-hover table-selectable" ng-if="$productList.length">
                      <thead>
                        <tr>
                          <th>Status · Name</th>
                          <th>ID Number</th>
                          <th>Version · Brand</th>
                          <th>Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="$product in $productList" ng-class="{'active': isProductSelected($product)}" ng-click="selectProduct($product)">
                          <th>
                            <span class="lifecycle-status status-{{ $product.lifecycleStatus | lowercase }}" bs-tooltip data-original-title="{{ $product.lifecycleStatus }}"></span>
                            <span>&nbsp;{{ $product.name }}</span>
                          </th>
                          <td>{{ $product.productNumber }}</td>
                          <td>v{{ $product.version }}&nbsp;·&nbsp;{{ $product.brand }}</td>
                          <td>
                            <div ng-switch on="$product.isBundle">
                              <div ng-switch-when="false"><span class="label label-product">Product</span></div>
                              <div ng-switch-default><span class="label label-product-bundle">Product bandle</span></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <ul class="pager">
                    <li class="disabled"><a><i class="fa fa-arrow-left"></i></a></li>
                    <li class="disabled"><a><i class="fa fa-arrow-right"></i></a></li>
                  </ul>
                  <div class="form-group text-right">
                    <button type="button" class="btn btn-primary" ng-disabled="!stepList[1].form.$valid" ng-click="nextStep(2)">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
                  </div>
                </form>
                <form name="stepList[2].form" novalidate ng-show="stepActive == 2">
                  <div class="form-group">
                    <label>Choose catalogue</label>
                    <input type="hidden" ng-model="catalogueInfo.id" required>
                    <table class="table table-bordered table-hover table-selectable" ng-if="$catalogueList.length">
                      <thead>
                        <tr>
                          <th>Status · Name</th>
                          <th>Update Date</th>
                          <th>Owner</th>
                          <th>Seller</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="$catalogue in $catalogueList" ng-class="{'active': isCatalogueSelected($catalogue)}" ng-click="selectCatalogue($catalogue)">
                          <th>
                            <span class="lifecycle-status status-{{ $catalogue.lifecycleStatus | lowercase }}" bs-tooltip data-original-title="{{ $catalogue.lifecycleStatus }}"></span>
                            <span>&nbsp;{{ $catalogue.name }}</span>
                          </th>
                          <td><time am-time-ago="$catalogue.lastUpdate"></time></td>
                          <td class="text-success"><i class="fa fa-check-circle-o" ng-if="hasRoleAsOwner($catalogue)"></i></td>
                          <td class="text-success"><i class="fa fa-check-circle-o" ng-if="hasRoleAsSeller($catalogue)"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <ul class="pager">
                    <li class="disabled"><a><i class="fa fa-arrow-left"></i></a></li>
                    <li class="disabled"><a><i class="fa fa-arrow-right"></i></a></li>
                  </ul>
                  <div class="form-group text-right">
                    <button type="button" class="btn btn-primary" ng-disabled="!stepList[2].form.$valid" ng-click="nextStep(3)">Next&nbsp;<i class="fa fa-arrow-right"></i></button>
                  </div>
                </form>
                <form name="stepList[3].form" novalidate ng-show="stepActive == 3">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-8">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" ng-model="offeringInfo.name" required readonly>
                      </div>
                      <div class="col-sm-4">
                        <label>Version</label>
                        <input type="text" class="form-control" name="version" ng-model="offeringInfo.version" required readonly>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description <small class="text-muted">optional</small></label>
                    <textarea class="form-control" name="description" rows="3" ng-model="offeringInfo.description" readonly></textarea>
                  </div>
                  <div class="form-group">
                    <label>Product</label>
                    <input type="hidden" ng-model="offeringInfo.productSpecification.id" required>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Status · Name</th>
                          <th>ID Number</th>
                          <th>Version · Brand</th>
                          <th>Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>
                            <span class="lifecycle-status status-{{ offeringInfo.productSpecification.lifecycleStatus | lowercase }}" bs-tooltip data-original-title="{{ offeringInfo.productSpecification.lifecycleStatus }}"></span>
                            <span>&nbsp;{{ offeringInfo.productSpecification.name }}</span>
                          </th>
                          <td>{{ offeringInfo.productSpecification.productNumber }}</td>
                          <td>v{{ offeringInfo.productSpecification.version }}&nbsp;·&nbsp;{{ offeringInfo.productSpecification.brand }}</td>
                          <td>
                            <div ng-switch on="offeringInfo.productSpecification.isBundle">
                              <div ng-switch-when="false"><span class="label label-product">Product</span></div>
                              <div ng-switch-default><span class="label label-product-bundle">Product bandle</span></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group">
                    <label>Catalogue</label>
                    <input type="hidden" ng-model="catalogueInfo.id" required>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Status · Name</th>
                          <th>Update Date</th>
                          <th>Owner</th>
                          <th>Seller</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>
                          <span class="lifecycle-status status-{{ catalogueInfo.lifecycleStatus | lowercase }}" bs-tooltip data-original-title="{{ catalogueInfo.lifecycleStatus }}"></span>
                          <span>&nbsp;{{ catalogueInfo.name }}</span>
                          </th>
                          <td><time am-time-ago="catalogueInfo.lastUpdate"></time></td>
                          <td class="text-success"><i class="fa fa-check-circle-o" ng-if="hasRoleAsOwner(catalogueInfo)"></i></td>
                          <td class="text-success"><i class="fa fa-check-circle-o" ng-if="hasRoleAsSeller(catalogueInfo)"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group text-right">
                    <button type="button" class="btn btn-success" ng-click="createOffering()" ng-disabled="!stepList[3].form.$valid">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>