.table-responsive(ng-if="pricePlans.length")
  table.table.table-bordered
    thead
      tr
        th Name
        th Description
        th Price
        th Actions
    tbody
      tr(ng-repeat="pricePlan in pricePlans")
        th {{ pricePlan.name }}
        td {{ pricePlan.description }}
        td {{ pricePlan.toString() }}
        td
          a.btn.btn-sm.btn-icon.btn-info(ng-click="vm.updatePricePlan($index)")
            span.item-icon.fa.fa-pencil
          a.btn.btn-sm.btn-icon.btn-danger(ng-click="vm.removePricePlan($index)")
            span.item-icon.fa.fa-trash