.row(ng-switch="loading")
  .col-xs-12(ng-switch-when="true")
    .container-spinner
      span.fa.fa-spinner.fa-3x.fa-spin
  .col-sm-12(ng-switch-default)
    .row
      .col-xs-12(ng-switch="offeringList.length")
        .alert.alert-info.text-center(ng-switch-when="0")
          | No offerings found.
        table.table.table-bordered.table-hover(ng-switch-default)
          thead
            tr
              th Status
              th Name
              th Updated
          tbody
            tr(ng-repeat="offering in offeringList")
              td
                i.status(ng-class="'status-{{ offering.lifecycleStatus | lowercase }}'")
              th
                a(ui-sref="app.stock.offering.update({ offeringId: offering.id })") {{ offering.name }}
              td
                time(am-time-ago="offering.lastUpdate")