ui-view
  .row
    .col-xs-12
      .row
        .col-xs-12.col-sm-6
          include ./breadcrumb.jade
        .col-xs-12.col-sm-6
          include ./search-toolbar.jade
    .col-xs-12(ng-if="searchVM.status === searchVM.STATUS.RESOLVED")
      .alert.alert-info.text-center(ng-if="!searchVM.list.length") #{ __("No categories found.") }
      .table-responsive(ng-if="searchVM.list.length")
        table.table.table-bordered.table-hover
          thead
            tr
              th #{ __("Status") }
              th #{ __("Name") }
              th #{ __("Last Updated") }
          tbody
            tr(ng-repeat="category in searchVM.list | orderByParentId")
              td
                .status-item(class="status-{{ category.lifecycleStatus | lowercase }}")
                  span.item-icon
                  span.item-text {{ category.lifecycleStatus }}
              td
                span(ng-repeat="parentCategory in category.getBreadcrumb()") {{ parentCategory.name }} / 
                a(ui-sref="admin.productCategory.update({ categoryId: category.id })", ui-sref-opts="{ inherit: false }")
                  strong {{ category.name }}
              td
                time(am-time-ago="category.lastUpdate")
    .col-xs-12(ng-if="searchVM.status === searchVM.STATUS.REJECTED")
      .alert.alert-danger.text-center {{ searchVM.errorMessage }}
    .col-xs-12(ng-if="searchVM.status === searchVM.STATUS.PENDING")
      .container-spinner
        span.fa.fa-spinner.fa-spin.fa-2x