.row
  .col-xs-12
    include ./breadcrumb.jade
  .col-xs-12(ng-if="updateVM.status === updateVM.STATUS.RESOLVED")
    .row
      .col-xs-12
        ui-view
          include ./update-form.jade
  .col-xs-12(ng-if="updateVM.status === updateVM.STATUS.REJECTED")
      .alert.alert-danger.text-center {{ updateVM.errorMessage }}
  .col-xs-12(ng-if="updateVM.status === updateVM.STATUS.PENDING")
    .container-spinner
      span.fa.fa-spinner.fa-spin.fa-2x