.row(ng-controller="ProductListCtrl")
  .col-sm-12(ng-if="$productList.length")
    table.table.table-bordered.table-hover
      thead
        tr
          th ID Number
          th Status · Name
          th Version
          th Brand
          th Type
          th Actions
      tbody
        tr(ng-repeat="$product in $productList", ng-class="{ 'active' : isSelected($product) }")
          th {{ $product.productNumber }}
          td
            span.lifecycle-status(ng-class="'status-{{ $product.lifecycleStatus | lowercase }}'")
            a(ng-click="showUpdateForm($product)")
              | &nbsp; {{ $product.name }}
          td {{ $product.version }}
          td {{ $product.brand }}
          td 
            span.label(ng-class="$product.isBundle ? 'label-product-bandle' : 'label-product'")
              | {{ $product.isBundle ? 'Product bandle' : 'Product' }}
          td 
            button.btn.btn-sm.btn-default(
              type="button"
              bs-tooltip
              data-original-title="Add to bundle"
              ng-class="{ 'active' : isSelected($product) }"
              ng-click="selectProduct($product)"
            )
              i.fa.fa-fw.fa-clipboard
    ul.pager
      li.disabled
        a
          i.fa.fa-arrow-left
      li.disabled
        a
          i.fa.fa-arrow-right