.modal.fade(tabindex="-1", ng-controller="ProductSearchFilterCtrl")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span &times;
        .modal-title Product Filters
      .modal-body
        .row
          .col-sm-10.col-sm-offset-1
            ul.list-group.no-user-select
              li.list-group-item.item-toggle
                label.toggle
                  | Status
                ul.list-group
                  li.list-group-item.item-checkbox(ng-repeat="(key, value) in LIFECYCLE_STATUS")
                    label.checkbox
                      .track
                        input(type="checkbox", value="{{ value }}", ng-checked="params.status.indexOf(value) != -1", ng-click="toggleStatus(value)")
                        i.fa.fa-lg
                      | {{ value }}
              li.list-group-item.item-toggle
                label.toggle
                  | Type
                ul.list-group
                  li.list-group-item.item-radio
                    label.radio
                      .track
                        input(type="radio", name="type", ng-model="params.type")
                        i.fa.fa-lg
                      | All
                  li.list-group-item.item-radio(ng-repeat="(key, value) in PRODUCT_TYPES")
                    label.radio
                      .track
                        input(type="radio", name="type", ng-model="params.type", value="{{ key }}")
                        i.fa.fa-lg
                      | {{ value }}
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal")
          | Close