.row(ng-controller="ProductCreateCtrl")
  .col-sm-12
    ol.breadcrumb.breadcrumb-default
      li
        a(ng-click="showSearchView()")
          | Search Product
      li.active
        a(ng-click="showCreateView()")
          | New Product
  .col-sm-3
    .panel.panel-default
      .panel-heading
        .panel-title New Product
      .panel-body
        ul.nav.nav-steps.nav-stacked
          li(
            ng-repeat="step in stepList"
            ng-class="{ 'active' : $index == stepActive, 'disabled' : setStepDisabled($index) }"
          )
            a(data-step="{{ $index }}", ng-click="showStep($index)") {{ step.title }}
  .col-sm-9
    .panel.panel-default(ng-repeat="step in stepList", ng-show="stepActive == $index")
      .panel-heading
        .panel-title {{ step.title }}
      .panel-body
        ng-include(src="step.templateUrl")