.modal.fade(tabindex="-1", ng-controller="ProductUpdateCtrl")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span &times;
        .modal-title {{ $product.isBundle ? 'Product Bundle Settings' : 'Product Settings' }}
      .modal-body
        .row
          .col-sm-10.col-sm-offset-1
            ul.nav.nav-tabs
              li(ng-repeat="tab in tabs", ng-class="{ 'active' : tab.active }", ng-click="showTab($index)")
                a {{ tab.name }}
            .tab-content
              .tab-pane(ng-class="{ 'active': tabs[0].active }")
                form(name="productUpdateForm", novalidate)
                  .form-group
                    .row
                      .col-sm-8
                        label Name
                        input.form-control(type="text", name="name", ng-model="$product.name", required)
                      .col-sm-4
                        label Version
                        input.form-control(type="text", name="version", ng-model="$product.version", required)
                  .form-group
                    .row
                      .col-sm-8
                        label Brand
                        input.form-control(type="text", name="brand", ng-model="$product.brand", required)
                      .col-sm-4
                        label ID Number
                        input.form-control(type="text", name="productNumber", ng-model="$product.productNumber", required)
                  .form-group
                    label Description
                    textarea.form-control(rows="3", name="description", ng-model="$product.description")
                  .form-group(ng-if="$product.bundledProductSpecification.length")
                    label Bundled products
                    table.table.table-bordered
                      thead
                        tr
                          th ID Number
                          th Name
                          th Version
                          th Brand
                      tbody
                        tr(ng-repeat="$bundledProduct in $product.bundledProductSpecification")
                          th {{ $bundledProduct.productNumber }}
                          td {{ $bundledProduct.name }}
                          td {{ $bundledProduct.version }}
                          td {{ $bundledProduct.brand }}
      .modal-footer
        button.btn.btn-success(type="button", ng-click="updateProduct()", ng-disabled="!productUpdateForm.$valid") Save changes
        button.btn.btn-default(type="button", data-dismiss="modal") Cancel