.row(ng-controller="ProductSearchCtrl")
  .col-sm-12
    .panel.panel-default
      .panel-body
        form.form-inline.pull-left
          .form-group
            label Search by
            select.form-control(ng-model="params.type", ng-change="search()")
              option(value="", selected) Any type
              option(ng-repeat="(key, value) in PRODUCT_TYPES", value="{{ key }}") {{ value }}
          .form-group
            select.form-control(ng-model="params.status", ng-change="search()")
              option(value="", selected) Any status
              option(ng-repeat="(key, value) in LIFECYCLE_STATUS", value="{{ key }}") {{ value }}
          .form-group
            select.form-control(ng-model="params.brand", ng-change="search()")
              option(value="", selected) Any brand
              option(ng-repeat="name in $productBrandList", value="{{ name }}") {{ name }}
        .pull-right
          button.btn.btn-primary(type="button", ng-click="showCreateForm()")
            i.fa.fa-fw.fa-plus
            | &nbsp;New product
          .btn-group(ng-if="$productList.length")
            button.btn.btn-default(type="button", ng-class="{ 'active' : resultView == 0 }", ng-click="showResultView(0)")
              i.fa.fa-fw.fa-th-list
            button.btn.btn-default(type="button", ng-class="{ 'active' : resultView == 1 }", ng-click="showResultView(1)")
              i.fa.fa-fw.fa-th
    .alert.alert-info.text-center(ng-if="!$productList.length")
      | {{ searchFailed ? 'There are no products that match your search.' : 'No products created yet.' }}
  .col-sm-12
    div(ng-switch="resultView")
      div(ng-switch-when="0")
        include ./ProductListView.jade
      div(ng-switch-default)
        include ./ProductGridView.jade