.row
  .col-sm-12
    ol.breadcrumb.breadcrumb-default
      li
        a(ng-click="showSearchView()")
          h4 Search Product
      li
        a(ng-click="showCreateView()")
          h4 New Product
      li.active
        a
          h4 {{ $product.name }}
  .col-sm-3
    .panel.panel-default
      .panel-heading
        .thumbnail.item-product-logo
          img(no-image, ng-src="{{ getProductPicture($product) }}")
        .panel-title {{ $product.name }}
      .list-group
        a.list-group-item(ng-repeat="tab in tabList", ng-class="{'active': tabActive == $index}", ng-click="showTab($index)")
          | {{ tab.title }}
  .col-sm-8.col-sm-offset-1
    .panel.panel-default
      .panel-heading
        .panel-title General
      .panel-body
        form(name="tabList[0].form", novalidate)
          .form-group
            .row
              .col-sm-8
                label Name
                input.form-control(type="text", name="name", ng-model="$product.name", required)
              .col-sm-4
                label Version
                input.form-control(type="text", name="version", ng-model="$product.version", required)
          .form-group
            .row
              .col-sm-8
                label Brand
                input.form-control(type="text", name="brand", ng-model="$product.brand", required)
              .col-sm-4
                label ID Number
                input.form-control(type="text", name="productNumber", ng-model="$product.productNumber", required)
          .form-group
            label
              | Description 
              small.text-muted optional
            textarea.form-control(rows="3", name="description", ng-model="$product.description")
          .form-group.text-right
            button.btn.btn-success(type="button", ng-click="updateProduct()", ng-disabled="!tabList[0].form.$valid") 
              | Save changes