.row(ng-controller="ProductListCtrl")
  .col-sm-12(ng-if="productList.length")
    table.table.table-bordered
      thead
        tr
          th ID Number
          th Status · Name
          th Version
          th Brand
          th Type
      tbody
        tr(ng-repeat="$product in productList")
          th {{ $product.productNumber }}
          td
            span.lifecycle-status(ng-class="'status-{{ $product.lifecycleStatus | lowercase }}'")
            | &nbsp; 
            a(ng-click="showUpdateView($product)")
              | {{ $product.name }}
          td {{ $product.version }}
          td {{ $product.brand }}
          td 
            span.label(ng-class="$product.isBundle ? 'label-product-bandle' : 'label-product'")
              | {{ $product.isBundle ? 'Product bandle' : 'Product' }}
    ul.pager
      li.disabled
        a
          i.fa.fa-arrow-left
      li.disabled
        a
          i.fa.fa-arrow-right