ui-view
  .row
    .col-xs-12
      ol.breadcrumb
        li
          a(ui-sref="app.stock.product", ui-sref-opts="{ reload: true }", ui-sref-active-eq="active")
            span Search product
    .col-xs-12
      .btn-toolbar.pull-right
        .btn-group
          a.btn.btn-default(type="button", ui-sref="app.stock.product.create")
            span.item-icon.fa.fa-plus-circle
            span.item-text New product
          button.btn.btn-default(type="button", ng-click="showFilters()")
            span.item-icon.fa.fa-sliders
            span.item-text Filters
    .col-xs-12
      .container-spinner(ng-show="loading")
        span.fa.fa-spinner.fa-3x.fa-spin
    .col-xs-12(ng-switch="productList.length", ng-if="!loading")
      .alert.alert-info.text-center(ng-switch-when="0")
        | No products found.
      table.table.table-bordered.table-hover(ng-switch-default)
        thead
          tr
            th Status
            th Name
            th Updated
        tbody
          tr(ng-repeat="product in productList")
            td
              i.status(ng-class="'status-{{ product.lifecycleStatus | lowercase }}'")
            th
              a(ui-sref="app.stock.product.update({ productId: product.id })") {{ product.name }}
            td
              time(am-time-ago="product.lastUpdate")