ui-view
  .row
    .col-xs-12
      ol.breadcrumb
        li
          a(ui-sref="app.stock.product", ui-sref-opts="{ reload: true }", ui-sref-active-eq="active")
            span Search product specifications
    .col-xs-12
      .btn-toolbar.pull-right
        .btn-group
          a.btn.btn-default(type="button", ui-sref="app.stock.product.create")
            span.item-icon.fa.fa-plus-circle
            span.item-text New product spec
          button.btn.btn-default(type="button", ng-click="showFilters()")
            span.item-icon.fa.fa-sliders
            span.item-text Filters

        .btn-group
          button.btn.btn-default(type="button", ng-class="{ 'active': !isListView() }", ng-click="setListView(false)")
            span.item-icon.fa.fa-fw.fa-th
          button.btn.btn-default(type="button", ng-class="{ 'active': isListView() }", ng-click="setListView(true)")
            span.item-icon.fa.fa-fw.fa-th-list

    .col-xs-12
      .container-spinner(ng-show="loading")
        span.fa.fa-spinner.fa-3x.fa-spin
    .col-xs-12(ng-switch="productList.length", ng-if="!loading")
      .alert.alert-info.text-center(ng-switch-when="0")
        | No products found.
      div(ng-switch-default)    
        .flex-container(ng-show="!isListView()")
          .panel.panel-default.item-product(ng-repeat="product in productList")
            .panel-heading
              .thumbnail.item-product-logo
                img(no-image, ng-src="{{ getProductPicture(product) }}")
              a.panel-title(ui-sref="app.stock.product.update({ productId: product.id })") {{ product.name }}
              .panel-subtitle
                span v{{ product.version }}
                span.pull-right
                  time(am-time-ago="product.lastUpdate")
            .panel-body
              .label-group
                .label(ng-class="product.isBundle ? 'label-product-bandle' : 'label-product'")
                  | {{ product.isBundle ? 'Product bundle' : 'Product' }}
              .lifecycle-status-group
                .lifecycle-status-item.active(
                  data-type="{{ product.lifecycleStatus | lowercase }}"
                  data-title="{{ product.lifecycleStatus }}"
                )
                  span.status
        table.table.table-bordered.table-hover(ng-show="isListView()")
          thead
            tr
              th Status
              th Name
              th Updated
          tbody
            tr(ng-repeat="product in productList")
              td
                i.status(ng-class="'status-{{ product.lifecycleStatus | lowercase }}'")
              th
                a(ui-sref="app.stock.product.update({ productId: product.id })") {{ product.name }}
              td
                time(am-time-ago="product.lastUpdate")
