.row
  .col-xs-12
    ol.breadcrumb
      li
        a(ui-sref="app.stock.product", ui-sref-active-eq="active")
          span Search product
      li
        a(ui-sref="app.stock.product.update", ui-sref-active="active")
          span {{ product.name }}
  .col-xs-12
    .row(ng-switch="loading")
      .col-xs-12(ng-switch-when="true")
        .container-spinner
          span.fa.fa-spinner.fa-3x.fa-spin
      .col-sm-12(ng-switch-default)
        ui-view