.row
  .btn-toolbar
    .btn-group
      a.btn.btn-default.z-depth-1(ui-sref="offering", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-chevron-left
        span.item-text #{ __("Back") }
  .panel.panel-default.z-depth-2
    .panel-body
      .h4.text-dark-secondary
        strong #{ __("Category") }
      hr
    ul.nav.nav-stacked.nav-pills
      li(ui-sref-active="active")
        a(ui-sref="admin.productCategory", ui-sref-opts="{ reload: true, inherit: false }")
          span.item-icon.fa.fa-tag
          span.item-text #{ __("Categories") }
