form(name="stages[3].form", novalidate)
  div(ng-show="assetTypes.length")
    .form-group
      .row
        .col-sm-8
          label Digital Asset Type
          select.form-control(name="asset", ng-model="productInfo.productSpecCharacteristic[0].productSpecCharacteristicValue[0].value", ng-change="setCurrentType()")
            option(ng-repeat="asset in assetTypes", value="{{ asset.name }}") {{ asset.name }}
        .col-sm-4
          label How to provide?
          select.form-control(ng-model="$parent.currFormat", ng-options="format for format in getCurrentType().formats")

    .form-group(ng-show="isSelected('URL')")
      label Asset URL
      input.form-control(type="url", ng-model="productInfo.productSpecCharacteristic[2].productSpecCharacteristicValue[0].value")
    .form-group(ng-show="isSelected('FILE')")
      label Asset File
      input.form-control(type="file", file-model="assetFile")
    .form-group
      label Media Type
      div(ng-show="!getCurrentType().mediaTypes.length")
        input.form-control(type="text", ng-model="productInfo.productSpecCharacteristic[1].productSpecCharacteristicValue[0].value")
      div(ng-show="getCurrentType().mediaTypes.length")
        select.form-control(ng-model="productInfo.productSpecCharacteristic[1].productSpecCharacteristicValue[0].value")
          option(ng-repeat="media in getCurrentType().mediaTypes", value="{{ media }}") {{ media }}
  div(ng-show="!assetTypes.length")
    .alert.alert-info There isn't any digital asset type supported.
  .form-group.text-right
    a.btn.btn-default(ui-sref="app.stock.product.create.finish", ng-disabled="!stages[3].form.$valid")
      span.item-text Next
      span.item-icon.fa.fa-arrow-right
