.breadcrumb-triangle.z-depth-1
  a(ui-sref="stock.offering", ui-sref-opts="{ reload: true, inherit: false }", ui-sref-active-eq="active")
    span.item-icon.fa.fa-list
    span.item-text List
  a.active(ng-if="searchVM.state.includes('stock.offering.update')", ui-sref="stock.offering.update", ui-sref-opts="{ reload: true }")
    span.item-icon.fa.fa-binoculars
    span.item-text Detail
  a.active(ng-if="searchVM.state.includes('stock.offering.create')", ui-sref="stock.offering.create", ui-sref-opts="{ reload: true }")
    span.item-icon.fa.fa-plus-circle
    span.item-text New