.h4
  strong Create a price plan
include ./create-form-priceplan-form.jade
.h4
  strong Overview
.alert.alert-warning.text-center(ng-if="!createVM.pricePlans.length")
  | No price plans created. You must create 
  strong at least one.
table.table.table-bordered(ng-if="createVM.pricePlans.length")
  thead
    tr
      th #
      th Name
      th Price
      th Unit / Charge period
      th Delete
  tbody
    tr(ng-repeat="pricePlan in createVM.pricePlans")
      th {{ $index + 1 }}
      td {{ pricePlan.name }}
      td {{ pricePlan.price.taxIncludedAmount }} {{ pricePlan.price.currencyCode | uppercase }}
      td {{ pricePlan.unitOfMeasure }}{{ pricePlan.recurringChargePeriod }}
      td
        a.alert-link-danger(ng-click="createVM.removePricePlan($index)")
          span.fa.fa-trash
form(name="step.form", novalidate)
   input(type="hidden", name="pricePlans", ng-model="createVM.pricePlans", field-array, limit-from="1", required)
  .form-group.text-right
    a.btn.btn-default(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text Next