.row
  .col-xs-12
    priceplan-table(controller="createVM" data="createVM.data.productOfferingPrice")
  .col-xs-12(ng-if="!createVM.data.productOfferingPrice.length")
    .alert.alert-info.text-center
      | No price plans included.
  .col-xs-12(ng-if="createVM.priceplanEnabled")
    .h4.text-dark-primary
      strong New price plan
    hr
    priceplan-form(form="createVM.forms.priceplanCreate" controller="createVM" data="createVM.priceplan")
    .form-group.text-left
      a.btn.btn-warning.z-depth-1(ng-disabled="!createVM.forms.priceplanCreate.$valid", ng-click="createVM.createPriceplan()")
        span.item-icon.fa.fa-save
        span.item-text.hidden-xs.hidden-sm Create
  .col-xs-12(ng-if="!createVM.priceplanEnabled")
    .form-group.text-left
      a.btn.btn-default.z-depth-1(ng-click="createVM.priceplanEnabled = true")
        span.item-text New price plan
  .col-xs-12
    .form-group.text-right
      a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])")
        span.item-text Next