.container-flex
  .panel.panel-default.item-offering.z-depth-1(ng-repeat="offering in searchVM.list")
    a.thumbnail.thumbnail-lg(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }")
      span.label(class="label-{{ offering.isBundle ? 'bundle' : 'single' }}")
        | {{ offering.isBundle ? offering.bundledProductOffering.length + ' bundled' : 'Single' }}
      img(no-image, ng-src="{{ offering.getPicture() }}")
    .panel-body
      .h4.text-ellipsis
        strong
          a(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }") {{ offering.name }}
      .form-group.text-dark-secondary
        span.pull-right
          time(am-time-ago="offering.lastUpdate")
        p v{{ offering.version }}
        p.item-description {{ offering.description ? offering.description : 'No description provided.' }}
      .h5.text-right
        strong {{ offering.formatCheapestPriceplan() }}
      .status-group
        .status-item.active(class="status-{{ offering.lifecycleStatus | lowercase }}")
          span.item-icon
          span.item-text {{ offering.lifecycleStatus }}
