.row
  .col-xs-12
    .panel.panel-default.z-depth-1
      .panel-body
        .h4.text-dark-primary
          strong New price plan
        hr
        price-plan-form(form="updateVM.pricePlanCreateForm" controller="updateVM" data="updateVM.pricePlan")
        .form-group.text-right
          a.btn.btn-warning.z-depth-1(ng-disabled="!updateVM.pricePlanCreateForm.$valid" ng-click="updateVM.createPricePlan()")
            span.item-text Create
  .col-xs-12
    price-plan-table(controller="updateVM" data="updateVM.item.productOfferingPrice")