.row
  .col-xs-12
    .btn-toolbar.pull-right
      .btn-group.z-depth-1
        a.btn.btn-default(ui-sref="stock.offering.update.bundled({ flow: 1 })", ui-sref-active="active")
          span.item-icon.fa.fa-th
        a.btn.btn-default(ui-sref="stock.offering.update.bundled({ flow: 2 })", ui-sref-active="active")
          span.item-icon.fa.fa-th-list
  .col-xs-12(ng-switch="updateVM.$state.params.flow")
    .container-flex(ng-switch-when="1")
      .panel.panel-default.item-offering.z-depth-1(ng-repeat="offering in updateVM.item.bundledProductOffering")
        a.thumbnail.thumbnail-lg(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }")
          span.label(class="label-{{ offering.isBundle ? 'bundle' : 'single' }}")
            | {{ offering.isBundle ? offering.bundledProductOffering.length + ' bundled' : 'Single' }}
          img(no-image, ng-src="{{ offering.getPicture() }}")
        .panel-body
          .h4.text-ellipsis
            strong
              a(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }") {{ offering.name }}
          .form-group.text-dark-secondary
            span.pull-right
              time(am-time-ago="offering.lastUpdate")
            p v{{ offering.version }}
            p.item-description {{ offering.description ? offering.description : 'No description provided.' }}
          .h5.text-right
            strong {{ offering.formatCheapestPriceplan() }}
          .status-group
            .status-item.active(class="status-{{ offering.lifecycleStatus | lowercase }}")
              span.item-icon
              span.item-text {{ offering.lifecycleStatus }}
    .table-responsive(ng-switch-when="2")
      table.table.table-bordered.table-hover
        thead
          tr
            th Status
            th Name
            th Product Spec.
            th Type
            th Updated
        tbody
          tr(ng-repeat="offering in updateVM.item.bundledProductOffering")
            td
              .status-item(class="status-{{ offering.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ offering.lifecycleStatus }}
            th
              a(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }") {{ offering.name }}
            th
              a(ui-sref="stock.product.update({ productId: offering.productSpecification.id })") {{ offering.productSpecification.name }}
            td
              span.label(ng-class="offering.isBundle ? 'label-bundle' : 'label-single'")
                | {{ offering.isBundle ? 'Bundle' : 'Single' }}
            td
              time(am-time-ago="offering.lastUpdate")