.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .media
          .media-left
            .thumbnail.item-product-logo
              img(no-image, ng-src="{{ updateVM.item.getPicture() }}")
          .media-body
            blockquote {{ updateVM.item.description ? updateVM.item.description : 'No description provided.' }}
            dl
              dt Name
              dd
                a(ui-sref="stock.product.update({ productId: updateVM.item.productSpecification.id })") {{ updateVM.item.productSpecification.name }}
              dt Version
              dd {{ updateVM.item.productSpecification.version }}
              dt Status
              dd
                .status-item(class="status-{{ updateVM.item.lifecycleStatus | lowercase }}")
                  span.item-icon
                  span.item-text {{ updateVM.item.lifecycleStatus }}
              dt Update date
              dd
                time(am-time-ago="updateVM.item.lastUpdate")