.row
  .col-xs-12
    .alert.alert-info.text-center(ng-show="!updateVM.item.productOfferingPrice.length")
      | No price plans found.
    .container-flex
      div(offering-priceplan, ng-repeat="priceplan in updateVM.item.productOfferingPrice")