name: Tests

on:
  push:
    branches:
      - feat/extended-pricing

  pull_request:
    branches:
      - feat/extended-pricing

jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       node-version: [16.x, 18.x, 20.x]

  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Use Node.js ${{ matrix.node-version }}
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #     - run: npm ci
  #     - run: npm run build --if-present
  #     - run: npm test
  #     - name: Coveralls Parallel
  #       uses: coverallsapp/github-action@master
  #       with:
  #         github-token: ${{ secrets.github_token }}
  #         parallel: true
  #         flag-name: run-${{ matrix.node-version }}

  build-docker:
    runs-on: ubuntu-latest
    #needs: test
    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/Dockerfile
          tags: |
            fiware/biz-ecosystem-logic-proxy:10.0.0-rc16
          push: ${{ github.ref == 'refs/heads/feat/extended-pricing' }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}