.breadcrumb-triangle.z-depth-1
  a(ui-sref="stock.product", ui-sref-opts="{ reload: true, inherit: false }", ui-sref-active-eq="active")
    span.item-icon.fa.fa-list
    span.item-text #{ __("List") }
  a.active(ng-if="searchVM.state.includes('stock.product.update')", ui-sref="stock.product.update", ui-sref-opts="{ reload: true }")
    span.item-icon.fa.fa-binoculars
    span.item-text #{ __("Details") }
  a.active(ng-if="searchVM.state.includes('stock.product.create')", ui-sref="stock.product.create", ui-sref-opts="{ reload: true }")
    span.item-icon.fa.fa-plus-circle
    span.item-text #{ __("New") }
  //a.active(ng-if="searchVM.state.includes('stock.product.import')", ui-sref="stock.product.import", ui-sref-opts="{ reload: true }")
  //  span.item-icon.fa.fa-plus-circle
  //  span.item-text #{ __("Import") }