.h4
  strong Create a characteristic
include ./create-form-characteristic-form.jade
.h4
  strong Overview
.alert.alert-warning.text-center(ng-if="!createVM.characteristics.length")
  | No characteristics created. You must create 
  strong at least one.
table.table.table-bordered(ng-show="createVM.characteristics.length")
  thead
    tr
      th #
      th Name
      th Type
      th Values
      th Default
      th Delete
  tbody
    tr(ng-repeat="characteristic in createVM.characteristics")
      th {{ $index + 1 }}
      td {{ characteristic.name }}
      td {{ characteristic.valueType }}
      td
        span(ng-repeat="value in characteristic.productSpecCharacteristicValue")
          span(ng-if="!$first") , 
          span {{ createVM.getFormattedValueOf(characteristic, value) }}
      td {{ createVM.getFormattedValueOf(characteristic, createVM.getDefaultValueOf(characteristic)) }}
      td
        a.alert-link-danger(ng-click="createVM.removeCharacteristic($index)")
          span.fa.fa-trash
form(name="step.form", novalidate)
   input(type="hidden", name="characteristics", ng-model="createVM.characteristics", field-array, limit-from="1", required)
  .form-group.text-right
    a.btn.btn-default(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text Next