.row
  .col-xs-12
    relationship-delete-form(controller="createVM" resource="createVM.data")
  .col-xs-12
    .h4.text-dark-secondary
      strong New relationship
    hr
    relationship-create-form(controller="createVM" resource="createVM.data")
  .col-xs-12
    form(name="step.form" novalidate)
      .form-group.text-right
        a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])")
          span.item-text Next