form(name="step.form", novalidate)
  .item-toggle
    label.toggle Is a new bundled product?
      .track
        input(
          type="checkbox"
          ng-model="createVM.data.isBundle"
          ng-change="createVM.toggleBundle()"
        )
        i.fa.fa-2x
  div(ng-if="createVM.data.isBundle", ng-controller="ProductSearchCtrl as searchVM")
    div(ng-switch="searchVM.list.loaded")
      div(ng-switch-when="true", ng-switch="searchVM.list.length")
        div(ng-switch-when="0")
          .alert.alert-info.text-center No products found.
        .table-responsive(ng-switch-default)
          table.table.table-bordered.table-hover.table-selectable
            thead
              tr
                th Status
                th Name
                th ID
                th Brand
                th Type
                th Updated
            tbody
              tr(ng-repeat="product in searchVM.list | status:STATUS.ACTIVE as results", ng-class="{ active: createVM.hasProduct(product) }", ng-click="createVM.toggleProduct(product)")
                td
                  .status-item(class="status-{{ product.lifecycleStatus | lowercase }}")
                    span.item-icon
                    span.item-text {{ product.lifecycleStatus }}
                th {{ product.name }}
                td {{ product.productNumber }}
                td {{ product.brand }}
                td
                  span.label(ng-class="product.isBundle ? 'label-bundle' : 'label-single'")
                    | {{ product.isBundle ? 'Bundle' : 'Single' }}
                td
                  time(am-time-ago="product.lastUpdate")
      .container-spinner(ng-switch-default)
        span.fa.fa-spinner.fa-spin.fa-2x

  .form-group.text-right
    a.btn.btn-default(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text Next