form(name="step.form", novalidate)
  .item-toggle
    label.toggle Is a digital product?
      .track
        input(
          type="checkbox"
          ng-model="createVM.isDigital"
        )
        i.fa.fa-2x
  div(ng-if="createVM.assetTypes.length && createVM.isDigital")
    .form-group
      .row
        .col-sm-8
          label Digital Asset Type
          select.form-control(name="asset", ng-model="createVM.digitalChars[0].productSpecCharacteristicValue[0].value", ng-change="createVM.setCurrentType()")
            option(ng-repeat="asset in createVM.assetTypes", value="{{ asset.name }}") {{ asset.name }}
        .col-sm-4
          label How to provide?
          select.form-control(ng-model="createVM.currFormat", ng-options="format for format in createVM.currentType.formats")
    .form-group(ng-show="createVM.isSelected('URL')")
      label Asset URL
      input.form-control(type="url", ng-model="createVM.digitalChars[2].productSpecCharacteristicValue[0].value")
    .form-group(ng-show="createVM.isSelected('FILE')")
      label Asset File
      input.form-control(type="file", file-model="createVM.assetFile")
    .form-group
      label Media Type
      div(ng-show="!createVM.currentType.mediaTypes.length")
        input.form-control(type="text", ng-model="createVM.digitalChars[1].productSpecCharacteristicValue[0].value")
      div(ng-show="createVM.currentType.mediaTypes.length")
        select.form-control(ng-model="createVM.digitalChars[1].productSpecCharacteristicValue[0].value")
          option(ng-repeat="media in createVM.currentType.mediaTypes", value="{{ media }}") {{ media }}
  div(ng-show="!createVM.assetTypes.length && createVM.isDigital")
    .alert.alert-info There isn't any digital asset type supported.
  .form-group.text-right
    a.btn.btn-default(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text Next