.btn-toolbar
  .btn-group
    a.btn.btn-default(ui-sref="stock.product", ui-sref-opts="{ reload: true, inherit: false }", ui-sref-active-eq="active")
      span.item-icon.fa.fa-search
      span.item-text.hidden-xs Search product spec.
  .btn-group.pull-right
    a.btn.btn-default(ui-sref="stock.product({ flow: 1 })", ui-sref-active="active")
      span.item-icon.fa.fa-th
    a.btn.btn-default(ui-sref="stock.product({ flow: 2 })", ui-sref-active="active")
      span.item-icon.fa.fa-th-list
  .btn-group.pull-right
    a.btn.btn-default(ui-sref="stock.product.create", ui-sref-opts="{ inherit: false }")
      span.item-icon.fa.fa-plus-circle
      span.item-text.hidden-xs New product spec.
    button.btn.btn-default(type="button", ng-click="searchVM.showFilters()")
      span.item-icon.fa.fa-sliders
      span.item-text.hidden-xs Filters