.row
  .col-xs-12
    include ./breadcrumb.jade
  .col-xs-12(ng-switch="updateVM.status")
    .row(ng-switch-when="LOADED")
      .col-xs-12
        .panel.panel-default.z-depth-1
          .thumbnail.thumbnail-lg
            img(no-image, ng-src="{{ updateVM.item.getPicture() }}")
          .panel-body
            .h4.text-center.text-dark-secondary
              strong {{ updateVM.item.name }}
          ul.nav.nav-justified.nav-pills
            li(ui-sref-active-eq="active")
              a(ui-sref="stock.product.update")
                span.item-icon.fa.fa-newspaper-o
                span.item-text.hidden-xs About
            li(ui-sref-active-eq="active", ng-show="updateVM.item.isBundle")
              a(ui-sref="stock.product.update.bundled")
                span.item-icon.fa.fa-file
                span.item-text.hidden-xs Bundled products
            li(ui-sref-active-eq="active")
              a(ui-sref="stock.product.update.characteristic")
                span.item-icon.fa.fa-gears
                span.item-text.hidden-xs Characteristics
            li(ui-sref-active-eq="active")
              a(ui-sref="stock.product.update.attachment")
                span.item-icon.fa.fa-paperclip
                span.item-text.hidden-xs Attachments
            li(ui-sref-active-eq="active")
              a(ui-sref="stock.product.update.relationship")
                span.item-icon.fa.fa-gears
                span.item-text.hidden-xs Relationships
      .col-xs-12
        ui-view
          .panel.panel-default.z-depth-1(ng-controller="FormWizardCtrl as updateForm")
            .panel-body
              include ./update-form.jade
    div(ng-switch-when="ERROR")
      .alert.alert-danger.text-center {{ updateVM.error }}
    .container-spinner(ng-switch-default)
      span.fa.fa-spinner.fa-spin.fa-2x