.row
  .col-sm-12
    .panel.panel-default
      .panel-body
        .media
          .media-left
            .thumbnail.item-product-logo
              img.media-object(no-image, ng-src="{{ updateVM.data.getPicture() }}")
          .media-body
            .form-group
              label Picture
              .input-group
                input.form-control(type="url", ng-model="updateVM.data.attachment[0].url", placeholder="Picture URL")
                span.input-group-btn
                  a.btn.btn-success(ng-click="updateVM.update()")
                    span.item-text Save changes